{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }



    </style>
{% endblock %}
{% block content_block %}




<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">{% trans 'Personal Information' %}</h6>
                </div>
                <div class="ui-block-content">


                    <!-- Personal Information Form  -->

                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="row">

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="row">
                                    <div id="cropper"></div>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" id="{{ form.image.id_for_label }}">
                                        {{ form.image.label }}
                                    </label>
                                    {{ form.image }}
                                </div>
                            </div>
                            <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                <button class="btn btn-primary btn-lg full-width">{% trans 'Save all Changes' %}</button>
                            </div>
                        </div>
                    </form>

                    <!-- ... end Personal Information Form  -->
                </div>
            </div>
		</div>

	</div>
</div>

<!-- ... end Your Account Personal Information -->



{% endblock %}
{% block js_block %}


    {{ form.media }}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            Swal.fire({
              {#position: 'top-end',#}
              icon: 'success',
              title: '{{ message }}',
              showConfirmButton: false,
              timer: 4000
            });
        {% endif %}
    {% endfor %}

{% endif %}


<script>


</script>
{% endblock %}