{% load static %}
{% load i18n %}

<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">{{ title }}</h6>
    </div>
    <div class="ui-block-content">

        <!-- W-Faved-Page -->

        <ul class="widget w-faved-page js-zoom-gallery">
            {% for data_list_item in data_list %}
                <li>
                    <a href="{% url 'userprofile:profile-v' data_list_item.uuid_id %}">
                        <img src="{% static 'local/app/img/avatar38-sm.jpg' %}" alt="author">
                    </a>
                </li>
            {% endfor %}
            <li class="all-users">
                <a href="{% url 'userprofile:users-list' %}">+</a>
            </li>
        </ul>

        <!-- .. end W-Faved-Page -->
    </div>
</div>