{% load static %}

<div class="ui-block">

    <div class="birthday-item inline-items badges">
        <div class="author-thumb">
            <a href="{% url 'userprofile:tutorial-item' data_item.id %}" class="h6 author-name">
                <img src="{% static 'local/app/img/badge1.png' %}" alt="author">
            </a>
        </div>
        <div class="birthday-author-name">
            <a href="{% url 'userprofile:tutorial-item' data_item.id %}" class="h6 author-name">{{ data_item.title }}</a>
            <div class="birthday-date">
                {{ data_item.short_title }}
            </div>
        </div>

        <div class="skills-item">
            <a href="{% url 'userprofile:tutorial-item' data_item.id %}" class="h6 author-name">
                {{ data_item.created_date }}
            </a>
        </div>

    </div>

</div>
