{% load static %}
{% load i18n %}
{% load django_follow_system_tags %}

<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="ui-block">
        <!-- Friend Item -->
        <div class="friend-item">
            <div class="friend-header-thumb">
                <img src="{% static 'local/app/img/friend1.jpg' %}" alt="friend">
            </div>

            <div class="friend-item-content">
                <div class="friend-avatar">
                    <div class="author-thumb">
                        <a href="{% url 'userprofile:profile-v' data_item.uuid_id %}">
                            <img src="{% static 'local/app/img/default-user.jpg' %}" style="width: 92px;" alt="author">
                        </a>
                    </div>
                    <div class="author-content">
                        <a href="{% url 'userprofile:profile-v' data_item.uuid_id %}" class="h5 author-name">{{ data_item.get_full_name }}</a>
                        <div class="country">{{ data_item.get_user_type }}</div>
                    </div>
                </div>

                <div class="swiper-container" data-slide="fade">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="friend-count" data-swiper-parallax="-500">
                                <a href="#" class="friend-count-item">
                                    <div class="h6">0</div>
                                    <div class="title">{% trans 'Izləyicilər' %}</div>
                                </a>
                                <a href="#" class="friend-count-item">
                                    <div class="h6">0</div>
                                    <div class="title">{% trans 'Posts' %}</div>
                                </a>
                            </div>
                            <div class="control-block-button" data-swiper-parallax="-100">
                                <a href="javascript:void(0)" class="btn btn-control follow-op {% if True %}bg-primary{% else %}bg-blue{% endif %}">
                                    <svg class="olymp-happy-face-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-face-icon"></use></svg>
                                </a>

                                <a href="{% url 'chat:message-box-detail' data_item.uuid_id %}" class="btn btn-control bg-purple">
                                    <svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>
                                </a>

                            </div>
                        </div>
                    </div>

                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <!-- ... end Friend Item -->
    </div>
</div>