{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
<style>
#infinite-list {
  /* We need to limit the height and show a scrollbar */
  width: 200px;
  height: 300px;
  overflow: auto;

  /* Optional, only to check that it works with margin/padding */
  margin: 30px;
  padding: 20px;
  border: 10px solid black;
}
</style>
{% endblock %}
{% block content_block %}


<div class="container">
	<div class="row">

        <!-- Main Content -->

        <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12 ">

            <div class="ui-block">

                <!-- News Feed Form  -->

                <div class="news-feed-form">

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                            <form id="main-post-form-data" method="post">
                                {% csrf_token %}
                                <div class="author-thumb">
                                    <img src="{% if base_profile.profile_picture %}{{ base_profile.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" style="height: 30px"  alt="author">
                                </div>
                                <div class="form-group with-icon label-floating is-empty">
                                    <label class="control-label">{% trans 'Bir şeylər yaz ' %}...</label>
                                    {{ post_share_form.text }}
                                </div>
                                <div class="add-options-message">
{#                                        <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">#}
{#                                            <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-camera-icon"></use></svg>#}
{#                                        </a>#}
                                    <button class="btn btn-primary btn-md-2">{% trans 'Paylaş' %}</button>

                                </div>

                            </form>
                        </div>

                    </div>
                </div>

                <!-- ... end News Feed Form  -->
            </div>
            <form id="main-post-search-form">{% csrf_token %}
                <input type="hidden" id="post-page-num" name="post-page-num" value="1"/>
                <input type="hidden" id="loaded-post-count" name="loaded-post-count" value="0"/>
                <input type="hidden" id="date_time" name="date_time" value="0"/>
            </form>
            <div id="post-grid-list">


            </div>

            <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid" style="display: none">
                <svg class="olymp-three-dots-icon">
                    <use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use>
                </svg>
            </a>
        </div>

        <!-- ... end Main Content -->


		<!-- Left Sidebar -->

		<aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12 sm-xs-hidden">


			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">{% trans 'Tədbirlər' %}</h6>
				</div>

				<!-- W-Friend-Pages-Added -->

				<ul class="widget w-friend-pages-added notification-list friend-requests">
                    {% for last_event_item in last_events %}

                        <li class="inline-items">
                            <div class="author-thumb">
                                <a href="{% url 'userprofile:events-view' last_event_item.id %}" >
                                    <img src="{% static 'local/app/img/avatar41-sm.jpg' %}" alt="author">
                                </a>
                            </div>
                            <div class="notification-event">
                                <a href="{% url 'userprofile:events-view' last_event_item.id %}" class="h6 notification-friend">{{ last_event_item.title }}</a>
                                <span class="chat-message-item">{{ last_event_item.short_title }}</span>
                            </div>
                            <span class="notification-icon" >
                                <a href="{% url 'userprofile:events-view' last_event_item.id %}">
                                    <svg class="olymp-star-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-calendar-icon"></use></svg>
                                </a>
                            </span>

                        </li>

                    {% endfor %}

				</ul>

				<!-- .. end W-Friend-Pages-Added -->
			</div>
		</aside>

		<!-- ... end Left Sidebar -->


		<!-- Right Sidebar -->

		<aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 sm-xs-hidden">


			<div class="ui-block">

				<div class="ui-block-title">
					<h6 class="title">{% trans 'Yeni xəbərlər' %}</h6>
				</div>


				<!-- W-Activity-Feed -->

				<ul class="widget w-activity-feed notification-list">
                    {% for last_blog_item in last_blogs %}

                        <li>
                            <div class="author-thumb">
                                <a href="{% url 'userprofile:news-view' last_event_item.id %}">
                                    <img src="{% if last_blog_item.image %}{{ last_blog_item.image.url }}{% else %}{% static 'local/app/img/avatar49-sm.jpg' %}{% endif %}" alt="author">
                                </a>
                            </div>
                            <div class="notification-event">
                                <a href="{% url 'userprofile:news-view' last_event_item.id %}" class="h6 notification-friend">{{ last_blog_item.title }}</a>.
                            </div>
                        </li>

                    {% endfor %}

				</ul>

				<!-- .. end W-Activity-Feed -->
			</div>


		</aside>

		<!-- ... end Right Sidebar -->

	</div>
</div>


{% endblock %}

{% block js_block %}

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');


    var csrf_token = getCookie('csrftoken');
    var data_v_change = '{% url 'userprofile:general-post-change' %}';
    var post_share_url = '{% url 'userprofile:post-share' %}';



</script>

{% include 'include/post-sahre.html' %}

{% endblock %}