{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }
        #main-data-content-div { overflow: auto; height: 1000px; }
    </style>
{% endblock %}
{% block content_block %}



<!-- Your Account Personal Information -->

<div class="main-header">
	<div class="content-bg-wrap bg-birthday"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>
                        {% trans 'Bildirişlər' %}
                    </h1>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Main Header Birthday -->



<!-- Main Content Birthday -->
<form id="main-search-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="page-num" id="page-num" value="1"/>
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-content">
                            <div class="row">
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ search_form.search_text }}

                                </div>
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <button class="btn btn-primary  btn-md full-width" type="button" onclick="searchForm();">
                                        {% trans 'Axtar' %}
                                    </button>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


<div class="container">
	<div class="row">
		<div class="col col-xl-12 order-xl-2 col-lg-12 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block" id="main-data-content-div">

				<!-- Notification List -->

				<ul class="notification-list" id="main-data-content-data">

				</ul>

				<!-- ... end Notification List -->

			</div>


		</div>

	</div>
</div>

<!-- ... end Your Account Personal Information -->


{% endblock %}

{% block js_block %}

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');


    var csrf_token = getCookie('csrftoken');


</script>
    <script type="text/javascript">
        $("#main-search-form").submit(function(e){
            {#searchForm();#}
            return false;
        });
        $( "#main-search-form :input" ).keyup(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                searchForm();
            }
        });
    </script>


    <script>
        var search_form = $('#customer-search-form');
        var main_data_content_data = $('#main-data-content-data');
        var is_active = true;
        var has_data = true;
            $('#main-data-content-div').on('scroll', function() {
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });

        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('#main-data-content-div').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>


    <script>
        var search_form = $('#main-search-form');


        $( document ).ready(function() {
            setTimeout(function(){
                searchForm();
            }, 500);
            console.log( "ready!" );
        });

        function searchForm() {
            $('#page-num').val(1);
            main_data_content_data.html('<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content_data.html(result['main_result']);
                  $('#page-num').val(2);

            }).fail(function () {
                  main_data_content_data.html('');
          });
        }

    function removeData($url,$id) {

            if (confirm('Silmək istədiyinizdən əminsiniz?')) {
                $.post($url,{'csrfmiddlewaretoken':csrf_token})
                .done(function (result) {
                    if(result['code']){
                      $('.all-notification-item-'+$id).remove();
                    }
                });
            } else {
                // Do nothing!
            }

    }
    </script>

{% endblock %}