{% load static from staticfiles %}
{% load  i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

	<title>{% block title_block %}

	{% endblock %} - {% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
    <script src="{% static 'local/app/js/libs/webfontloader.min.js' %}"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap-reboot.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap-grid.css' %}">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/css/fonts.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
</head>
<body class="body-bg-white">


<!-- Preloader -->

<div id="hellopreloader">
	<div class="preloader">
		<svg width="45" height="45" stroke="#fff">
			<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="8">
					<animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
				</circle>
			</g>
		</svg>

		<div class="text">Yüklənir ...</div>
	</div>
</div>

<!-- ... end Preloader -->
<!-- Stunning header -->

<div class="stunning-header bg-primary-opacity">

	
	<!-- Header Standard Landing  -->
	
	<div class="header--standard header--standard-landing" id="header--standard">
		<div class="container">
			<div class="header--standard-wrap">
	
				<a href="{% url 'userprofile:dashboard' %}" class="logo">
                    <div class="img-wrap">
                        <img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="Olympus">
                        <img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_colored %}{{ base_mainSystemInfo.logo_colored.url }}{% else %}{% static 'local/app/img/logo-colored-small.png' %}{% endif %}" alt="Olympus" class="logo-colored">
                    </div>
                    <div class="title-block">
                        <h6 class="logo-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</h6>
                        <div class="sub-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_slogan %}{{ base_mainSystemInfo.site_slogan }}{% else %}site_slogan{% endif %}</div>
                    </div>
				</a>

				<a href="#" class="open-responsive-menu js-open-responsive-menu">
					<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>
				</a>

				<div class="nav nav-pills nav1 header-menu">
					<div class="mCustomScrollbar">
						<ul>
                            {% for base_static_page_item in base_static_pages %}
                                <li class="nav-item">
                                    <a href="{% url 'userprofile:static-page-detail' base_static_page_item.key_page %}" class="nav-link">{{ base_static_page_item.title }}</a>
                                </li>
                            {% endfor %}
                            <li class="nav-item js-expanded-menu">
                                <a href="#" class="nav-link">
                                    <svg class="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                                    <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                                </a>
                            </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ... end Header Standard Landing  -->
	<div class="header-spacer--standard"></div>

	<div class="stunning-header-content">
		<h1 class="stunning-header-title">{{ data_item.title }}</h1>

	</div>

	<div class="content-bg-wrap stunning-header-bg1"></div>
</div>

<!-- End Stunning header -->



<section class="medium-padding100">
	<div class="container">
		<div class="row">
			<div class="col col-xl-8 m-auto col-lg-8 col-md-12 col-sm-12 col-12">

				
				<!-- Search Help Result -->
				
				<div class="search-help-result">

					<ul class="search-help-result-list">
						<li>
							{% autoescape off %}
                                {{ data_item.content }}
							{% endautoescape %}

						</li>
					</ul>
				</div>
				
				<!-- ... end Search Help Result -->

			</div>
		</div>
	</div>
</section>






<a class="back-to-top" href="#">
	<img src="{% static 'local/app/svg-icons/back-to-top.svg' %}" alt="arrow" class="back-icon">
</a>



<!-- JS Scripts -->
<script src="{% static 'local/app/js/jQuery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.appear.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.mousewheel.js' %}"></script>
<script src="{% static 'local/app/js/libs/perfect-scrollbar.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.matchHeight.js' %}"></script>
<script src="{% static 'local/app/js/libs/svgxuse.js' %}"></script>
<script src="{% static 'local/app/js/libs/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'local/app/js/libs/Headroom.js' %}"></script>
<script src="{% static 'local/app/js/libs/velocity.js' %}"></script>
<script src="{% static 'local/app/js/libs/ScrollMagic.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.waypoints.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.countTo.js' %}"></script>
<script src="{% static 'local/app/js/libs/popper.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/material.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/bootstrap-select.js' %}"></script>
<script src="{% static 'local/app/js/libs/smooth-scroll.js' %}"></script>
<script src="{% static 'local/app/js/libs/selectize.js' %}"></script>
<script src="{% static 'local/app/js/libs/swiper.jquery.js' %}"></script>
<script src="{% static 'local/app/js/libs/moment.js' %}"></script>
<script src="{% static 'local/app/js/libs/daterangepicker.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/fullcalendar.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/isotope.pkgd.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/ajax-pagination.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/Chart.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/chartjs-plugin-deferred.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/circle-progress.js' %}"></script>
<script src="{% static 'local/app/js/libs/loader.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/run-chart.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.gifplayer.js' %}"></script>
<script src="{% static 'local/app/js/libs/mediaelement-and-player.js' %}"></script>
<script src="{% static 'local/app/js/libs/mediaelement-playlist-plugin.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/sticky-sidebar.js' %}"></script>
<script src="{% static 'local/app/js/libs/ion.rangeSlider.js' %}"></script>
<script src="{% static 'local/app/js/libs/leaflet.js' %}"></script>
<script src="{% static 'local/app/js/libs/MarkerClusterGroup.js' %}"></script>

<script src="{% static 'local/app/js/main.js' %}"></script>
<script src="{% static 'local/app/js/libs-init/libs-init.js' %}"></script>
<script defer src="{% static 'local/app/fonts/fontawesome-all.js' %}"></script>

<script src="{% static 'local/app/Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
</body>
</html>