{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }
        #main-data-content-div { overflow: auto; height: 1000px; }
    </style>
{% endblock %}
{% block content_block %}


<!-- Main Header Birthday -->

<div class="main-header">
	<div class="content-bg-wrap bg-birthday"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>
                        {% trans 'Ətraflı axtarış' %}
                    </h1>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Main Header Birthday -->



<!-- Main Content Birthday -->
<form id="main-search-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="page-num" id="page-num" value="1"/>
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-content">
                            <div class="row">
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                    {{ search_form.search_text }}

                                </div>
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h3 style="padding: 7px;background: aliceblue;color: black;text-align: center;font-weight: 400;">
                                        {% trans 'Istifadəçi tipləri' %}
                                    </h3>
                                </div>
                                {% for user_type_choices_item in user_type_choices %}

                                    <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="ui-block">
                                            <div class="available-widget">

                                                <div class="checkbox">
                                                    <label>
                                                        <input name="user_types" type="checkbox" value="{{ user_type_choices_item.0 }}">
                                                        {{ user_type_choices_item.1 }}
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                    <hr/>
                                </div>
                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h3 style="padding: 7px;background: aliceblue;color: black;text-align: center;font-weight: 400;">
                                        {% trans 'Bölmələr' %}
                                    </h3>
                                </div>
                                {% for section_item in sections %}

                                    <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="ui-block">
                                            <div class="available-widget">

                                                <div class="checkbox">
                                                    <label>
                                                        <input name="section_parts" type="checkbox" value="{{ section_item.id }}">
                                                        {{ section_item.title }}
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="col col-lg-12 col-md-12 col-sm-12 col-12 ">
                                    <button class="btn btn-primary  btn-md full-width" type="button" onclick="searchForm();">
                                        {% trans 'Axtar' %}
                                    </button>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


    <div class="container" id="main-data-content-div">
        <div class="row" id="main-data-content-data">
        </div>
    </div>

{% endblock %}
{% block js_block %}

    <script type="text/javascript">
        $("#main-search-form").submit(function(e){
            {#searchForm();#}
            return false;
        });
        $( "#main-search-form :input" ).keyup(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                searchForm();
            }
        });
    </script>


    <script>
        var search_form = $('#customer-search-form');
        var main_data_content_data = $('#main-data-content-data');
        var is_active = true;
        var has_data = true;
            $('#main-data-content-div').on('scroll', function() {
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });

        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('#main-data-content-div').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>


    <script>
        var search_form = $('#main-search-form');


        $( document ).ready(function() {
            setTimeout(function(){
                searchForm();
            }, 500);
            console.log( "ready!" );
        });

        function searchForm() {
            $('#page-num').val(1);
            main_data_content_data.html('<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content_data.html(result['main_result']);
                  $('#page-num').val(2);

            }).fail(function () {
                  main_data_content_data.html('');
                  total_result_table.html('');
          });
        }


    </script>
{% endblock %}