{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
<style>
.no-js #form-loader { display: none;  }
.js #form-loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif) center no-repeat #ffffffab;
}
#infinite-list {
  /* We need to limit the height and show a scrollbar */
  height: 600px;
  overflow: auto;

  /* Optional, only to check that it works with margin/padding */
}
</style>
{% endblock %}
{% block content_block %}

    <div class="container" xmlns:xlink="">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="top-header">
                        <div class="top-header-thumb">
                            <img src="{% static 'local/app/img/top-header1.jpg' %}" alt="nature">
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="javascript:void(0)" class="active">{% trans 'Timeline' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'userprofile:profile-tab-v' uud_id 'about' %}">{% trans 'About' %}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="{% url 'userprofile:profile-tab-v' uud_id 'education' %}">{% trans 'Education' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'userprofile:profile-tab-v' uud_id 'expreience' %}">{% trans 'Expreience' %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="control-block-button">
                                {% if current_user_ch %}
                                    <div class="btn btn-control bg-primary more">
                                        <svg class="olymp-settings-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-settings-icon"></use></svg>

                                        <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                            <li>
                                                <a href="javascript:void(0);" onclick="showPhotoUpload('profile','{% url 'userprofile:get-photo-profile' 'profile' %}')">{% trans 'Update Profile Photo' %}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" onclick="showPhotoUpload('profile','{% url 'userprofile:get-photo-profile' 'cover' %}')">{% trans 'Update Header Photo' %}</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'userprofile:settings' 'profile' %}">{% trans 'Account Settings' %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="javascript:void(0)" class="btn btn-control bg-blue">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-face-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control bg-purple">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="top-header-author">
                            <a href="javascript:void(0);" class="author-thumb">
                                <img src="{% static 'local/app/img/default-user.jpg' %}" alt="author" xlink:height="124" style="height: 124px"/>
                            </a>
                            <div class="author-content">
                                <a href="javascript:void(0);" class="h4 author-name">
                                    {{ user_profile.get_full_name }}
                                </a>
{#                                <div class="country">San Francisco, CA</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Top Header-Profile -->
    <div class="container">
        <div class="row">

            <!-- Main Content -->

            <div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12 ">

                <div class="ui-block">

                    <!-- News Feed Form  -->

                    <div class="news-feed-form">

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                                <form id="main-post-form-data" method="post">
                                    {% csrf_token %}
                                    <div class="author-thumb">
                                        <img src="{% if base_profile.profile_picture %}{{ base_profile.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" style="height: 30px"  alt="author">
                                    </div>
                                    <div class="form-group with-icon label-floating is-empty">
                                        <label class="control-label">{% trans 'Bir şeylər yaz ' %}...</label>
                                        {{ post_share_form.text }}
                                    </div>
                                    <div class="add-options-message">
{#                                        <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">#}
{#                                            <svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-camera-icon"></use></svg>#}
{#                                        </a>#}
                                        <button class="btn btn-primary btn-md-2">{% trans 'Paylaş' %}</button>

                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>

                    <!-- ... end News Feed Form  -->
                </div>
                <form id="main-post-search-form">{% csrf_token %}
                    <input type="hidden" id="post-page-num" name="post-page-num" value="1"/>
                    <input type="hidden" id="loaded-post-count" name="loaded-post-count" value="0"/>
                    <input type="hidden" id="date_time" name="date_time" value="0"/>
                </form>
                <div id="post-grid-list">


                </div>

                <a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid" style="display: none">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use>
                    </svg>
                </a>
            </div>

            <!-- ... end Main Content -->


            <!-- Left Sidebar -->

            <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12 sm-xs-hidden">

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">{% trans 'Profile Intro' %}</h6>
                    </div>
                    <div class="ui-block-content">

                        <!-- W-Personal-Info -->

                        <ul class="widget w-personal-info item-block">
                            <li>
                                <span class="title">{% trans 'About' %}:</span>
                                <span class="text">
                                    {% if user_profile.about %}
                                        {{ user_profile.about|slice:'100' }}
                                    {% endif %}
                                </span>
                            </li>
                        </ul>
                        <!-- .. end W-Personal-Info -->
                        <!-- W-Socials -->

                        <div class="widget w-socials">
                            <h6 class="title">{% trans 'Other Social Networks' %}:</h6>
                            {% if user_profile.facebook %}
                                <a target="_blank" href="{{ user_profile.facebook }}" class="social-item bg-facebook">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    Facebook
                                </a>
                            {% endif %}
                            {% if user_profile.linkedin %}
                                <a target="_blank" href="{{ user_profile.facebook }}" class="social-item bg-dribbble">
                                    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                    Linkedin
                                </a>
                            {% endif %}
                            {% if user_profile.instagram %}
                                <a target="_blank" href="{{ user_profile.facebook }}" class="social-item bg-twitter">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                    Instagram
                                </a>
                            {% endif %}
                        </div>


                        <!-- ... end W-Socials -->
                    </div>
                </div>

            </div>

            <!-- ... end Left Sidebar -->


            <!-- Right Sidebar -->

            <div class="d-sm-none d-xs-none col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12 sm-xs-hidden">


                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Blog Posts</h6>
                    </div>
                    <!-- W-Blog-Posts -->

                    <ul class="widget w-blog-posts">
{#                        <li>#}
{#                            <article class="hentry post">#}
{##}
{#                                <a href="#" class="h4">My Perfect Vacations in South America and Europe</a>#}
{##}
{#                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>#}
{##}
{#                                <div class="post__date">#}
{#                                    <time class="published" datetime="2017-03-24T18:18">#}
{#                                        7 hours ago#}
{#                                    </time>#}
{#                                </div>#}
{##}
{#                            </article>#}
{#                        </li>#}
{#                        <li>#}
{#                            <article class="hentry post">#}
{##}
{#                                <a href="#" class="h4">The Big Experience of Travelling Alone</a>#}
{##}
{#                                <p>Lorem ipsum dolor sit amet, consect adipisicing elit, sed do eiusmod por incidid ut labore et.</p>#}
{##}
{#                                <div class="post__date">#}
{#                                    <time class="published" datetime="2017-03-24T18:18">#}
{#                                        March 18th, at 6:52pm#}
{#                                    </time>#}
{#                                </div>#}
{##}
{#                            </article>#}
{#                        </li>#}
                    </ul>

                    <!-- .. end W-Blog-Posts -->
                </div>




            </div>

            <!-- ... end Right Sidebar -->

        </div>
    </div>

    {% if current_user_ch %}
        <!-- Window-popup Update Header Photo -->

        <div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
            <div class="modal-dialog window-popup update-header-photo" role="document">
                <div class="modal-content">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
                    </a>

                    <div class="modal-header">
                        <h6 class="title">Update Header Photo</h6>
                    </div>

                    <div class="modal-body">
                        <a href="#" class="upload-photo-item">
                        <svg class="olymp-computer-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-computer-icon"></use></svg>

                        <h6>{% trans 'Upload Photo' %}</h6>
                        <span>{% trans 'Browse your computer' %}</span>
                    </a>

                        <a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

                    <svg class="olymp-photos-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-photos-icon"></use></svg>

                    <h6>{% trans 'Choose from My Photos' %}</h6>
                    <span>{% trans 'Choose from your uploaded photos' %}</span>
                </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- ... end Window-popup Update Header Photo -->

        <!-- Window-popup Choose from my Photo -->

        <div class="modal fade" id="choose-from-my-photo" tabindex="-1" role="dialog" aria-labelledby="choose-from-my-photo" aria-hidden="true">
            <div class="modal-dialog window-popup choose-from-my-photo" role="document">

                <div class="modal-content">
                    <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                        <svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
                    </a>
                    <div class="modal-header">
                        <h6 class="title">{% trans 'Choose from My Photos' %}</h6>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-expanded="true">
                                    <svg class="olymp-photos-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-photos-icon"></use></svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="modal-body">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">

                                <form id="choose-list-form">
                                    <div class="row">
                                            {% csrf_token %}
                                            <div class="col-md-12" id="choose-list-id">
                                            </div>
                                    </div>
                                </form>
                                <br/>
                                <a href="javascript:void(0)" id="choose-list-button-id" class="btn btn-primary btn-lg btn--half-width">{% trans 'Confirm Photo' %}</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- ... end Window-popup Choose from my Photo -->

    {% endif %}


{% endblock %}

{% block js_block %}
<script>function showPhotoUpload(s, $url) {
    $('#update-header-photo').modal('toggle');
    $.post($url,{'csrfmiddlewaretoken':'{{ csrf_token }}'})
        .done(function (result) {
            $('#choose-list-id').html(result['main-data'])
        });
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');


    var csrf_token = getCookie('csrftoken');
    var data_v_change = '{% url 'userprofile:profile-v-change' uud_id %}';
    var post_share_url = '{% url 'userprofile:post-share' %}';



</script>

{% include 'include/post-sahre.html' %}

{% endblock %}