{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block content_block %}

    <div class="container" xmlns:xlink="">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="top-header">
                        <div class="top-header-thumb">
                            <img src="{% static 'local/app/img/top-header1.jpg' %}" alt="nature">
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="{% url 'userprofile:profile-v' uud_id %}" >{% trans 'Timeline' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'userprofile:profile-tab-v' uud_id 'about' %}" {% if slug == 'about' %} class="active"{% endif %}>{% trans 'About' %}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="{% url 'userprofile:profile-tab-v' uud_id 'education' %}" {% if slug == 'education' %} class="active"{% endif %}>{% trans 'Education' %}</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'userprofile:profile-tab-v' uud_id 'expreience' %}" {% if slug == 'expreience' %} class="active"{% endif %}>{% trans 'Expreience' %}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="control-block-button">
                                {% if current_user_ch %}
                                    <div class="btn btn-control bg-primary more">
                                        <svg class="olymp-settings-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-settings-icon"></use></svg>

                                        <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#update-header-photo">{% trans 'Update Profile Photo' %}</a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#update-header-photo">{% trans 'Update Header Photo' %}</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'userprofile:settings' 'profile' %}">{% trans 'Account Settings' %}</a>
                                            </li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <a href="javascript:void(0)" class="btn btn-control bg-blue">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-face-icon"></use></svg>
                                    </a>

                                    <a href="#" class="btn btn-control bg-purple">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="top-header-author">
                            <a href="javascript:void(0);" class="author-thumb">
                                <img src="{% static 'local/app/img/default-user.jpg' %}" alt="author" xlink:height="124" style="height: 124px"/>
                            </a>
                            <div class="author-content">
                                <a href="javascript:void(0);" class="h4 author-name">
                                    {{ user_profile.get_full_name }}
                                </a>
{#                                <div class="country">San Francisco, CA</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... end Top Header-Profile -->
    <div class="container">
        <div class="row">

            <!-- Main Content -->

            <div class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12" id="newsfeed-items-grid">

                <div class="ui-block responsive-flex">
                    <div class="ui-block-title">
                        <div class="h3 title text-center">{{ page_title }}</div>
                    </div>
                </div>

                {% autoescape off %}
                    {{ result_data }}
                {% endautoescape %}
            </div>

            <!-- ... end Main Content -->


            <!-- Left Sidebar -->

            <div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">{% trans 'Profile Intro' %}</h6>
                    </div>
                    <div class="ui-block-content">

                        <!-- W-Personal-Info -->

                        <ul class="widget w-personal-info item-block">
                            <li>
                                <span class="title">{% trans 'About' %}:</span>
                                <span class="text">
                                    {% if user_profile.about %}
                                        {{ user_profile.about|slice:'100' }}
                                    {% endif %}
                                </span>
                            </li>
                        </ul>

                        <!-- .. end W-Personal-Info -->
                        <!-- W-Socials -->

                        <div class="widget w-socials">
                            <h6 class="title">{% trans 'Other Social Networks' %}:</h6>
                            {% if user_profile.facebook %}
                                <a target="_blank" href="{{ user_profile.facebook }}" class="social-item bg-facebook">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    Facebook
                                </a>
                            {% endif %}
                            {% if user_profile.linkedin %}
                                <a target="_blank" href="{{ user_profile.facebook }}" class="social-item bg-dribbble">
                                    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                    Linkedin
                                </a>
                            {% endif %}
                            {% if user_profile.instagram %}
                                <a target="_blank" href="{{ user_profile.facebook }}" class="social-item bg-twitter">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                    Instagram
                                </a>
                            {% endif %}
                        </div>


                        <!-- ... end W-Socials -->
                    </div>
                </div>

            </div>

            <!-- ... end Left Sidebar -->



        </div>
    </div>

{% endblock %}