{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }



    </style>
{% endblock %}
{% block content_block %}




<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            {% if slug == 'profile'%}
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">{% trans 'Personal Information' %}</h6>
                    </div>
                    <div class="ui-block-content">


                        <!-- Personal Information Form  -->

                        <form action="" method="post" autocomplete="off">
                            {% csrf_token %}
                                <div class="row">

                                    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.name.id_for_label }}">
                                                {{ profileSettingsForm.name.label }}
                                            </label>
                                            {{ profileSettingsForm.name }}
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.email.id_for_label }}">
                                                {{ profileSettingsForm.email.label }}
                                            </label>
                                            {{ profileSettingsForm.email }}
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.password.id_for_label }}">
                                                {{ profileSettingsForm.password.label }}
                                            </label>
                                            {{ profileSettingsForm.password }}
                                        </div>

                                        <div class="form-group date-time-picker label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.birthdate.id_for_label }}">
                                                {{ profileSettingsForm.birthdate.label }}
                                            </label>
                                            {{ profileSettingsForm.birthdate }}
                                            <span class="input-group-addon">
                                                <svg class="olymp-month-calendar-icon icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.surname.id_for_label }}">
                                                {{ profileSettingsForm.surname.label }}
                                            </label>
                                            {{ profileSettingsForm.surname }}
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.phone.id_for_label }}">
                                                {{ profileSettingsForm.phone.label }}
                                            </label>
                                            {{ profileSettingsForm.phone }}
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.retype_password.id_for_label }}">
                                                {{ profileSettingsForm.retype_password.label }}
                                            </label>
                                            {{ profileSettingsForm.retype_password }}
                                        </div>

                                    </div>


                                    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group with-icon label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.about.id_for_label }}">
                                                {{ profileSettingsForm.about.label }}
                                            </label>
                                            {{ profileSettingsForm.about }}
                                            <i class="fas fa-question-circle c-facebook" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group ">
        {#                                    {% for sec_item in profileSettingsForm.sections %}#}
        {#                                        <div class="checkbox">#}
        {#                                            {{ sec_item }}#}
        {#                                        </div>#}
        {#                                    {% endfor %}#}
                                            {{ profileSettingsForm.sections }}
        {#									<i class="fas fa-question-circle c-facebook" aria-hidden="true"></i>#}
                                        </div>
                                        <div class="form-group with-icon label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.facebook.id_for_label }}">
                                                {{ profileSettingsForm.facebook.label }}
                                            </label>
                                            {{ profileSettingsForm.facebook }}
                                            <i class="fab fa-facebook-f c-facebook" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group with-icon label-floating">
                                            <label class="control-label" id="{{ profileSettingsForm.linkedin.id_for_label }}">
                                                {{ profileSettingsForm.linkedin.label }}
                                            </label>
                                            {{ profileSettingsForm.linkedin }}
                                            <i class="fab fa-linkedin-in c-twitter" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group with-icon label-floating is-empty">
                                            <label class="control-label" id="{{ profileSettingsForm.instagram.id_for_label }}">
                                                {{ profileSettingsForm.instagram.label }}
                                            </label>
                                            {{ profileSettingsForm.instagram }}
                                            <i class="fab fa-instagram c-facebook" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                                        <button class="btn btn-primary btn-lg full-width">{% trans 'Save all Changes' %}</button>
                                    </div>

                                </div>
                        </form>

                        <!-- ... end Personal Information Form  -->
                    </div>
                </div>

            {% elif slug == 'education' %}
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">{{  page_title }}</h6>
                    </div>
                    <div class="ui-block-content">
                        <button class="btn btn-blue btn-lg full-width" data-toggle="modal" data-target="#new-add-modal">{% trans 'Add new' %}</button>
                    </div>
                </div>
                {% autoescape off %}
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-12" id="all-main-data-list">
                            {{ result_data }}
                        </div>
                    </div>
                {% endautoescape %}
            {% elif slug == 'experience' %}
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">{{  page_title }}</h6>
                    </div>
                    <div class="ui-block-content">
                        <button class="btn btn-blue btn-lg full-width" data-toggle="modal" data-target="#new-add-modal">{% trans 'Add new' %}</button>
                    </div>
                </div>
                {% autoescape off %}
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-12" id="all-main-data-list">
                            {{ result_data }}
                        </div>
                    </div>
                {% endautoescape %}
            {% endif %}
		</div>

		<div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
			<div class="ui-block">

				<!-- Your Profile  -->

				<div class="your-profile">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">{% trans 'Your profile' %}</h6>
					</div>

					<div id="accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<h6 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										{% trans 'Profile Settings' %}
										<svg class="olymp-dropdown-arrow-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-dropdown-arrow-icon"></use></svg>
									</a>
								</h6>
							</div>

							<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
								<ul class="your-profile-menu">
									<li>
										<a href="{% url 'userprofile:settings' 'profile' %}">{% trans 'Personal Information' %}</a>
									</li>
									<li>
										<a href="{% url 'userprofile:settings' 'education' %}">{% trans 'Education' %}</a>
									</li>
									<li>
										<a href="{% url 'userprofile:settings' 'experience' %}">{% trans 'Work experiences' %}</a>
									</li>

								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- ... end Your Profile  -->

			</div>
		</div>
	</div>

{% if slug == 'experience' or slug == 'education' %}
  <!-- The Modal -->
  <div class="modal" id="new-add-modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-educ-exper-title" id="modal-title-id">{% trans 'Add new' %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form id="modal-educ-exper-form-id" class="educ-exper-form" method="post" action="{% url 'userprofile:experience-andeducation-create' slug %}">
            {% csrf_token %}
                <div class="row">
                    <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{% trans 'Title' %}</label>
                            {{ new_form.title }}
                        </div>
                    </div>
                    {% if slug == 'experience' %}
                        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{% trans 'Company' %}</label>
                                {{ new_form.company }}
                            </div>
                        </div>
                    {% elif slug == 'education' %}
                        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{% trans 'University' %}</label>
                                {{ new_form.university }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{% trans 'Start date' %}</label>
                            {{ new_form.start_date }}
                        </div>
                    </div>
                    <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{% trans 'End date' %}</label>
                            {{ new_form.end_date }}
                        </div>
                    </div>
                    <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                        <button type="submit" class="btn btn-primary btn-lg full-width">{% trans 'Save' %}</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
{% endif %}

</div>

<!-- ... end Your Account Personal Information -->



{% endblock %}
{% block js_block %}


<script>

    {% if slug == 'experience' or slug == 'education' %}
        $("#modal-educ-exper-form-id").submit(function(event){
          event.preventDefault();
          $.post($(this).attr('action'),$(this).serialize())
              .done(function (result) {
              if(result['code'] ==  1){
                Swal.fire({
                    type: 'success',
                    title: result['text'],
                });
                getExpEdu();
                $('#new-add-modal').modal('hide');
                $("#modal-educ-exper-form-id")[0].reset();
              }else{
                Swal.fire({
                    type: 'error',
                    title: '{% trans 'Xəta baş verdi' %}',
                    html: result['text'],
                });
              }
                  console.log(result)
            }).fail(function () {
                load_more_button.hide();
                is_active = true;
          });
        });

    function getExpEdu() {
        $.post('{% url 'userprofile:experience-andeducation-list' slug %}',{'csrfmiddlewaretoken':csrftoken})
        .done(function (result) {
            if(result['code'] == 1){
              $('#all-main-data-list').html(result['text']);
            }
              {#main_data_content_data.scrollTop()#}
        });

    }


    {% endif %}

</script>


{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            Swal.fire({
              {#position: 'top-end',#}
              icon: 'success',
              title: '{{ message }}',
              showConfirmButton: false,
              timer: 4000
            });
        {% endif %}
    {% endfor %}

{% endif %}


<script>



{#CRUMINA.Bootstrap = function () {#}
{##}
{#	var id_birthdate = $('#id_birthdate');#}
{#	/*moment.locale('uk');*/#}
{#	if (id_birthdate.length) {#}
{#		var start = moment().subtract(29, 'days');#}
{##}
{#		id_birthdate.daterangepicker({#}
{#			minDate: '12/05/1900',#}
{#			startDate: start,#}
{#			autoUpdateInput: false,#}
{#			singleDatePicker: true,#}
{#			showDropdowns: true,#}
{#			locale: {#}
{#				format: 'DD.MM.YYYY'#}
{#			}#}
{#		});#}
{#		id_birthdate.on('focus', function () {#}
{#			$(this).closest('.form-group').addClass('is-focused');#}
{#		});#}
{#		id_birthdate.on('apply.daterangepicker', function (ev, picker) {#}
{#			$(this).val(picker.startDate.format('DD.MM.YYYY'));#}
{#			$(this).closest('.form-group').addClass('is-focused');#}
{#		});#}
{#		id_birthdate.on('hide.daterangepicker', function () {#}
{#			if ('' === $(this).val()) {#}
{#				$(this).closest('.form-group').removeClass('is-focused');#}
{#			}#}
{#		});#}
{##}
{#	}#}
{# } ;#}
</script>
{% endblock %}