{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block title_block %}
    {{ data_obj.title }}
{% endblock %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }



    </style>
{% endblock %}
{% block content_block %}







<div class="container">
	<div class="row">
		<div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
			<div class="ui-block">


				<!-- Single Post -->

				<article class="hentry blog-post single-post single-post-v3">

					<a href="javascript:void(0)" class="post-category bg-primary">{{ data_obj.section.title }}</a>

					<h1 class="post-title">{{ data_obj.title }}</h1>

					<div class="author-date">
						<div class="author-thumb">
                            <img style="width: 50px" class="avatar" src="{% if data_obj.author.profile_picture %}{{ data_obj.author.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" alt="author">
						</div>
						{% trans 'by' %}&nbsp;&nbsp;
						<a class="h6 post__author-name fn" href="#">
                            {{ data_obj.author.get_full_name }}
                        </a>
                        &nbsp;&nbsp;
						<div class="post__date">
                            <time class="entry-date updated" datetime="{{ data_obj.created_date|date:'Y-m-dTH:i' }}">{{ data_obj.created_date }}</time>
						</div>
					</div>

					<div class="post-thumb">
						<img style="max-height: 500px;" src="{{ data_obj.image.url }}" alt="author">
					</div>

					<div class="post-content-wrap">

						<div class="control-block-button post-control-button">

							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
								<span>0</span>
							</a>

						</div>

						<div class="post-content">
							<h5>
                                {{ data_obj.short_title }}
							</h5>

							<p>
                                {{ data_obj.content }}
							</p>

						</div>
					</div>

				</article>

				<!-- ... end Single Post -->

            </div>
		</div>
		<div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">{% trans 'Populyar proyektlər' %}</h6>
				</div>
				<div class="ui-block-content">


					<!-- Widget {% trans 'Populyar proyektlər' %} -->

					<ul class="widget w-featured-topics">
                        {% for data_obj in random_projects %}

                            <li>
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <div class="content">
                                    <a href="{% url 'userprofile:projects-view' data_obj.id %}" class="h6 title">{{ data_obj.title }}</a>
                                    <time class="entry-date updated" datetime="{{ data_obj.created_date|date:'Y-m-dTH:i' }}">{{ data_obj.created_date }}</time>
                                </div>
                            </li>

                        {% endfor %}
					</ul>

					<!-- ... end Widget {% trans 'Populyar proyektlər' %} -->
				</div>
			</div>


		</div>

	</div>
</div>


<!-- ... end Your Account Personal Information -->



{% endblock %}
{% block js_block %}
<script>
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            Swal.fire({
              {#position: 'top-end',#}
              icon: 'success',
              title: '{{ message }}',
              showConfirmButton: false,
              timer: 4000
            });
        {% endif %}
    {% endfor %}

{% endif %}

</script>
{% endblock %}