{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }
        #main-data-content-div { overflow: auto; height: 600px; }
    </style>
{% endblock %}
{% block content_block %}


<div class="main-header">
	<div class="content-bg-wrap bg-birthday"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>
                        {% trans 'Proyektlər' %}
                    </h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ... end Main Header Account -->


<!-- Main Content Widgets -->
<form id="main-search-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="page-num" id="page-num" value="1"/>
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-content">
                            <div class="row">
                                <div class="col col-lg-10 col-md-10 col-sm-12 col-12">
                                    {{ search_form.search_text }}

                                </div>
                                <div class="col col-lg-2 col-md-2 col-sm-12 col-12 ">
                                    <button class="btn btn-primary  btn-md full-width" type="button" onclick="searchForm();">
                                        {% trans 'Axtar' %}
                                    </button>
                                </div>
                                {% for section_item in sections %}

                                    <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                                        <div class="ui-block">
                                            <div class="available-widget">

                                                <div class="checkbox">
                                                    <label>
                                                        <input name="section_parts" type="checkbox" value="{{ section_item.id }}">
                                                        {{ section_item.title }}
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="container">
	<div class="row">
		<div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">

			<div class="ui-block responsive-flex">



				<!-- Open Topic Table -->

				<table class="forums-table" id="main-data-content-div">

					<thead>
                        <tr>

                            <th class="forum">
                                {% trans 'Proyekt icmalı' %}
                            </th>


                            <th class="freshness">
                                {% trans ' Müəllif ' %}
                            </th>

                        </tr>
					</thead>

					<tbody id="main-data-content-data">

					</tbody>
				</table>

				<!-- ... end Open Topic Table -->
			</div>

			<!-- ... end Pagination -->

		</div>

		<div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">{% trans 'Populyar proyektlər' %}</h6>
				</div>
				<div class="ui-block-content">


					<!-- Widget {% trans 'Populyar proyektlər' %} -->

					<ul class="widget w-featured-topics">
                        {% for data_item in random_projects %}

                            <li>
                                <i class="icon fa fa-star" aria-hidden="true"></i>
                                <div class="content">
                                    <a href="{% url 'userprofile:projects-view' data_item.id %}" class="h6 title">{{ data_item.title }}</a>
                                    <time class="entry-date updated" datetime="{{ data_item.created_date|date:'Y-m-dTH:i' }}">{{ data_item.created_date }}</time>
                                </div>
                            </li>

                        {% endfor %}
					</ul>

					<!-- ... end Widget {% trans 'Populyar proyektlər' %} -->
				</div>
			</div>


		</div>

	</div>
</div>

<!-- ... end Main Content Widgets -->


{% endblock %}
{% block js_block %}

    <script type="text/javascript">
        $("#main-search-form").submit(function(e){
            {#searchForm();#}
            return false;
        });
        $( "#main-search-form :input" ).keyup(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                searchForm();
            }
        });
    </script>


    <script>
        var search_form = $('#customer-search-form');
        var main_data_content_data = $('#main-data-content-data');
        var is_active = true;
        var has_data = true;
            $('#main-data-content-div').on('scroll', function() {
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });

        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('#main-data-content-div').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>

    
    <script>
        var search_form = $('#main-search-form');


        $( document ).ready(function() {
            setTimeout(function(){
                searchForm();
            }, 500);
            console.log( "ready!" );
        });

        function searchForm() {
            $('#page-num').val(1);
            main_data_content_data.html('<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content_data.html(result['main_result']);
                  $('#page-num').val(2);

            }).fail(function () {
                  main_data_content_data.html('');
                  total_result_table.html('');
          });
        }


    </script>
{% endblock %}