{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}{% load wysiwyg %}
{% wysiwyg_setup %}
{% wysiwyg_editor "id_content" %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }



    </style>
{% endblock %}
{% block content_block %}




<!-- Your Account Personal Information -->

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">{% trans 'Müraciət et' %}</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

			<div class="ui-block">
				<div class="ui-block-title bg-blue">
					<h6 class="title c-white">{% trans 'Müraciət et' %}</h6>
				</div>
				<div class="ui-block-content">

					<form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}

            {{form.media}}
						<div class="row">
							<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">{% trans 'Title' %}</label>
									{{ form.title }}
								</div>
                            {% if form.title.errors %}
                                <div class="alert alert-danger mb-3" role="alert">
                                    {{ form.title.errors }}
                                </div>
                            {% endif %}
							</div>

							<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating is-select">
									<label class="control-label">{% trans 'Section' %}</label>
									{{ form.section }}
								</div>
                            {% if form.section.errors %}
                                <div class="alert alert-danger mb-3" role="alert">
                                    {{ form.section.errors }}
                                </div>
                            {% endif %}
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">{% trans 'Budget' %}</label>
									{{ form.budget }}
								</div>
                            {% if form.budget.errors %}
                                <div class="alert alert-danger mb-3" role="alert">
                                    {{ form.budget.errors }}
                                </div>
                            {% endif %}
							</div>
							<div class="col col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label">{% trans 'Image' %}</label>
									{{ form.image }}
								</div>
                            {% if form.image.errors %}
                                <div class="alert alert-danger mb-3" role="alert">
                                    {{ form.image.errors }}
                                </div>
                            {% endif %}
							</div>

							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="form-group label-floating">
									<label class="control-label ">{% trans 'Short title' %}</label>
									{{ form.short_title }}
								</div>
                                {% if form.short_title.errors %}
                                    <div class="alert alert-danger mb-3" role="alert">
                                        {{ form.short_title.errors }}
                                    </div>
                                {% endif %}
								<div class="form-group">
                                    {{ form.content }}
								</div>
                                {% if form.content.errors %}
                                    <div class="alert alert-danger mb-3" role="alert">
                                        {{ form.content.errors }}
                                    </div>
                                {% endif %}

							</div>

							<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<button href="#" class="btn btn-blue btn-lg full-width">{% trans 'Müraciət et' %}</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</div>


<!-- ... end Your Account Personal Information -->



{% endblock %}
{% block js_block %}
<script>
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            Swal.fire({
              {#position: 'top-end',#}
              icon: 'success',
              title: '{{ message }}',
              showConfirmButton: false,
              timer: 4000
            });
        {% endif %}
    {% endfor %}

{% endif %}

</script>
{% endblock %}