{% load static %}
{% load i18n %}
<div class="ui-block">

    <!-- Post -->

    <article class="hentry blog-post blog-post-v3">

        <div class="post-content" style="width: 100%;">
            <p>
                {% if data_item.about %}
                {% autoescape off %}
                    {{ data_item.about }}
                {% endautoescape %}
                {% endif %}
            </p>

        </div>

    </article>

    <!-- ... end Post -->

</div>