{% load static %}
{% load i18n %}
<div class="ui-block">

    <!-- Post -->

    <article class="hentry blog-post blog-post-v3" style="border: 1px solid #d6dbff;">

        <div class="post-content" style="width: 100%;">

            <div class="author-date">
                {% if data_item.start_date %}
                <div class="post__date">
                    <time class="published" datetime="{{ data_item.start_date|date:'Y:-m:d' }}">
                        {{ data_item.start_date|date:'Y:-m:d' }}
                    </time>
                </div>
                {% else %}
                    *
                {% endif %}
                {% if data_item.end_date %}
                <div class="post__date">
                    <time class="published" datetime="{{ data_item.end_date|date:'Y:-m:d' }}">
                        {{ data_item.end_date|date:'Y:-m:d' }}
                    </time>
                </div>
                {% else %}
                    *
                {% endif %}
            </div>

            <a href="javascript:void(0)" class="h3 post-title">{{ data_item.company }}</a>
            <p>
                {{ data_item.title }}
            </p>

        </div>

    </article>

    <!-- ... end Post -->

</div>