{% load static %}
{% load i18n %}

<div class="choose-photo-item" data-mh="choose-item">
    <div class="radio">
        <label class="custom-radio">
            <img src="{% if data_item.photo %}{{ data_item.photo.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" alt="photo" style="width: 247px;height: 247px;">
            <input type="radio" value="{{ data_item.id }}" name="optionsRadios">
        </label>
    </div>
</div>