{% load static %}
    <li class="with-comment-photo all-notification-item-{{ item.id }}">
        <div class="author-thumb">
            <img src="{% static 'local/app/img/notification-m.png' %}" alt="author">
        </div>
        <div class="notification-event">
                {% autoescape off %}
                    {{ item.title }}
                {% endautoescape %}
            <span class="notification-date"><time class="entry-date updated" datetime="{{ item.created_date|date:'Y-m-d' }}T{{ item.created_date|date:'H:i' }}">{{ item.created_date|date:'d F Y H:i' }}</time></span>
        </div>
        <span class="notification-icon">
            <svg class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>
        </span>

        <div class="comment-content">
                {% autoescape off %}
                    {{ item.content }}
                {% endautoescape %}
        </div>
        <div class="more">
            <svg class="olymp-little-delete" onclick="removeData('{% url 'userprofile:notification-remove' item.id %}','{{ item.id }}')">
                <use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use>
            </svg>
        </div>
    </li>
