{% load i18n %}

    <script>
    $(".se-pre-con").hide();
    var form_submit = false;
        $( "#main-post-form-data" ).submit(function( event ) {
          {#alert( "Handler for .submit() called." );#}
          event.preventDefault();
          if (!form_submit){
              form_submit = true;
                {#$(".se-pre-con").show();#}
                $.ajax({
                    url: post_share_url,
                    type: 'post',
                      data: new FormData(this), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                      contentType: false, // The content type used when sending data to the server.
                      cache: false, // To unable request pages to be cached
                      processData: false,
                        error: function (request, status, error) {
                            form_submit = false;
                            Swal.fire({
                                type: 'error',
                                title: '{% trans 'Xəta baş verdi' %}',
                                html: err.toString(),
                            });
                        },
                    success: function(data){
                      {#$(".se-pre-con").hide();#}
                        form_submit = false;
                      if (data['code']){
                          changeDataValues(data_v_change);
                          $('#id_text').val('');
                        Swal.fire({
                            type: 'success',
                            {#title: data['message_title'],#}
                            {#html: data['message_text']#}
                        });
                      }else{
                        form_submit = false;
                        Swal.fire({
                            type: 'error',
                            {#title: data['message_title'],#}
                            {#html: data['message_text']#}
                        });
                      }
                    }
                })
          }else{
            {#$(".se-pre-con").hide();#}
            Swal.fire({
                type: 'info',
                title: '{% trans 'Gözləyin' %}',
                {#html: err.toString(),#}
            });
          }
        });
    </script>

<script>

    var is_active = true;
    var has_data = true;
    var date_time = '';
    var loaded_post_count = 0;
    var search_form = $('#main-post-search-form');
    var load_more_button = $('#load-more-button');
    $(window).scroll(function() {
        if($(window).scrollTop() == $(document).height() - $(window).height()) {
               // ajax call get data from server and append to the div
            if(is_active && has_data){
                infinityForm();
            }

        }
    });

    var main_data_content_data = $('#post-grid-list');
    var loaded_post_count = $('#loaded-post-count');
    function infinityForm() {
        is_active = false;
        load_more_button.show();
          $.post('',search_form.serialize())
              .done(function (result) {
                  load_more_button.hide();
                  main_data_content_data.append(result['main_result']);
                  if(result['main_result'] != ''){
                      $('#post-page-num').val(parseInt($('#post-page-num').val()) + 1);
                  }else{
                      has_data = false;
                  }
                  is_active = true;

                  console.log(result)
            }).fail(function () {
                load_more_button.hide();
                is_active = true;
          });
     }


    $( document ).ready(function() {
        setTimeout(function(){
            searchForm();
        }, 500);
        console.log( "ready!" );
    });

    function searchForm() {
        $('#post-page-num').val(1);
        load_more_button.show();
        {#main_data_content_data.html('<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>');#}
      $.post('',search_form.serialize())
          .done(function (result) {
            if(result['date_time'] != ''){
              $('#date_time').val(result['date_time']);
            }
            load_more_button.hide();
            main_data_content_data.html(result['main_result']);
            $('#post-page-num').val(2);

        }).fail(function () {
              main_data_content_data.html('');
              total_result_table.html('');
                load_more_button.hide();
      });
    }
setInterval(function(){ changeDataValues(data_v_change); }, 60000);
function changeDataValues($url) {
    $.post($url,{'csrfmiddlewaretoken':csrf_token,'date_time':$('#date_time').val()})
        .done(function (result) {
            if(result['date_time'] != ''){
              $('#date_time').val(result['date_time']);
              loaded_post_count.val(parseInt(loaded_post_count.val()) + parseInt(result['extra_count']));
              main_data_content_data.prepend(result['main_result']);
            }
        });
}
function removePost($url,$id) {

        if (confirm('Silmək istədiyinizdən əminsiniz?')) {
            $.post($url,{'csrfmiddlewaretoken':csrf_token})
            .done(function (result) {
                if(result['code']){
                  $('.all-post-item-'+$id).remove();
                }
            });
        } else {
            // Do nothing!
        }

}


    function postSaveLike($url,$id, $type) {
      $.post($url,{'csrfmiddlewaretoken':csrf_token}).done(function (result) {
          $("#liked-count-" + $id).html(result['liked_count']);
          console.log('.all-post-item-' + $id + ' > .'+$type+'-button');
          if (result['code'] == '1'){
              $(".liked-button-" + $id).addClass("did-it");
              $(".liked-icon-" + $id).addClass("did-it-icon");
          }else if (result['code'] == '2'){
              $(".liked-button-" + $id).removeClass("did-it");
              $(".liked-icon-" + $id).removeClass("did-it-icon");
          }
        }).fail(function () {
      });
    }

</script>