{% load static %}
    <li class="messae-deatil-general {% if chat.user == base_profile %}messae-deatil-me{% else %}messae-deatil-other{% endif %}">
        <div class="author-thumb">
            <img src="{% if chat.user.profile_picture %}{{ chat.user.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" alt="author" style="height: 30px;">
        </div>
        <div class="notification-event">
            <div class="event-info-wrap">
                <a href="#" class="h6 notification-friend">{{ chat.user.get_full_name }}</a>
            </div>
            <span class="chat-message-item">{{ chat.message }}</span>
                <span class="notification-date"><time class="entry-date updated" >{{ chat.timestamp }}</time></span>
        </div>
    </li>