{% load static %}
<li onclick="window.location='{% url 'chat:message-box-detail' to_user.uuid_id %}'">
    <div class="author-thumb">
        <img src="{% if to_user.profile_picture %}{{ to_user.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" style="height: 35px;" alt="author">
    </div>
    <div class="notification-event" style="{% if is_ssen %}font-weight: 600;{% endif %}">
        <a href="javascript:void(0)" class="h6 notification-friend">{{ to_user.get_full_name }}</a>
        <span class="chat-message-item">{% if data_item.last_message %}{{ data_item.last_message.message|truncatechars:'50' }}{% else %}{% endif %}...</span>
        <span class="notification-date"><time class="entry-date updated" >{% if data_item.last_message %}{{ data_item.last_message.timestamp|date:'d-m-Y H:i' }}{% else %}{% endif %}...</time></span>
    </div>
    <span class="notification-icon">
        <svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>
`   </span>

</li>
