{% load static from staticfiles %}
{% load  i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

	<title>Giriş</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="{% static 'local/app/js/libs/webfontloader.min.js' %}"></script>

	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap-reboot.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap-grid.css' %}">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/css/fonts.min.css' %}">



</head>

<body class="landing-page">


<!-- Preloader -->

<div id="hellopreloader">
	<div class="preloader">
		<svg width="45" height="45" stroke="#fff">
			<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="8">
					<animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
				</circle>
			</g>
		</svg>

		<div class="text">Yüklənir ...</div>
	</div>
</div>

<!-- ... end Preloader -->
<div class="content-bg-wrap"></div>


<!-- Header Standard Landing  -->

<div class="header--standard header--standard-landing" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<a href="#" class="logo">
				<div class="img-wrap">
					<img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="Olympus">
					<img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_colored %}{{ base_mainSystemInfo.logo_colored.url }}{% else %}{% static 'local/app/img/logo-colored-small.png' %}{% endif %}" alt="Olympus" class="logo-colored">
				</div>
				<div class="title-block">
					<h6 class="logo-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</h6>
					<div class="sub-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_slogan %}{{ base_mainSystemInfo.site_slogan }}{% else %}site_slogan{% endif %}</div>
				</div>
			</a>
				<a href="#" class="open-responsive-menu js-open-responsive-menu">
					<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>
				</a>

				<div class="nav nav-pills nav1 header-menu expanded-menu">
					<div class="mCustomScrollbar">
						<ul>
                            {% for base_static_page_item in base_static_pages %}
                                <li class="nav-item">
                                    <a href="{% url 'userprofile:static-page-detail' base_static_page_item.key_page %}" class="nav-link">{{ base_static_page_item.title }}</a>
                                </li>
                            {% endfor %}
                            <li class="nav-item js-expanded-menu">
                                <a href="#" class="nav-link">
                                    <svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>
                                    <svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
                                </a>
                            </li>
						</ul>
					</div>
				</div>

		</div>
	</div>
</div>

<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>

<div class="container">
	<div class="row display-flex">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="landing-content">
				<h1>
                    {% if base_mainSystemInfo and base_mainSystemInfo.short_title %}{{ base_mainSystemInfo.short_title }}{% else %}short_desc{% endif %}
                </h1>
				<p>
                    {% if base_mainSystemInfo and base_mainSystemInfo.short_desc %}{{ base_mainSystemInfo.short_desc }}{% else %}short_desc{% endif %}
				</p>
				<a href="{% url 'base-user:signup' %}" class="btn btn-md btn-border c-white">{% trans 'Qeydiyatdan keç' %}!</a>
                <div class="ui-block" style="    background: #ffffff8c;">
                    <div class="ui-block-title">
                        <h6 class="title text-center">{% trans 'Elm adamlari və mütəxəssislərmiz' %}</h6>
                    </div>
                    <div class="ui-block-content" >
                        <ul class="widget w-faved-page js-zoom-gallery">
                            {% for s_item in scientifics %}
                            <li>
                                <a href="javascript:void(0)">
                                    <img src="{% static 'local/app/img/avatar38-sm.jpg' %}" alt="author">
                                </a>
                            </li>
                            {% endfor %}
                            <li class="all-users">
                                <a href="#">+</a>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>

		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

			<!-- Daxil ol-Registration Form  -->

			<div class="registration-login-form">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
{#					<li class="nav-item active">#}
{#						<a class="nav-link" href="{% url 'base-user:login' %}">#}
{#							<svg class="olymp-login-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-login-icon"></use></svg>#}
{#						</a>#}
{#					</li>#}
					<li class="nav-item " style="width: 100%;">
						<a class="nav-link" href="{% url 'base-user:signup' %}">
							<svg class="olymp-register-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-register-icon"></use></svg>
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
						<div class="title h6">
                            {% trans 'Hesabına daxil' %}
                            {{ message_login }}
                        </div>
						<form class="content" method="post" action="" autocomplete="off">
                            {% csrf_token %}
							<div class="row">
								<div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
									<div class="form-group label-floating">
										<label class="control-label">{{ login_form.lemail.label }}</label>
										{{ login_form.lemail }}
									</div>
									<div class="form-group label-floating">
										<label class="control-label">{{ login_form.lpassword.label }}</label>
										{{ login_form.lpassword }}
									</div>

									<div class="remember">

										<div class="checkbox">
											<label>
												{{ login_form.remember_me }}
												{{ login_form.remember_me.label }}
											</label>
										</div>
{#										<a href="#" class="forgot" data-toggle="modal" data-target="#restore-password">{% trans 'Forgot my Password' %}</a>#}
									</div>

									<button type="submit"  class="btn btn-lg btn-primary full-width" >{% trans 'Daxil ol' %}</button>
									<p>{% trans 'Hesab; ?' %} <a href="{% url 'base-user:signup' %}">{% trans 'Qeydiyatdan keç' %}!</a></p>

								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- ... end Daxil ol-Registration Form  -->		</div>
	</div>
</div>

<!-- Window-popup Restore Password -->

<div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true">
	<div class="modal-dialog window-popup restore-password-popup" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Şifrəni yenilə</h6>
			</div>

			<div class="modal-body">
				<form  method="get">
					<p>E-poçtunuzu daxil edin və göndərmə kodu düyməsini vurun. E-poçtunuzda bir kod alacaqsınız. Zəhmət olmasa köhnə şifrənizi yenisinə dəyişdirmək üçün aşağıdakı kodu istifadə edin.
					</p>
					<div class="form-group label-floating">
						<label class="control-label">E-poçt</label>
						<input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
					</div>
					<button class="btn btn-purple btn-lg full-width">Kodu göndər</button>
					<div class="form-group label-floating">
						<label class="control-label">Kodu daxil edin</label>
						<input class="form-control" placeholder="" type="text" value="">
					</div>
					<div class="form-group label-floating">
						<label class="control-label">Yeni şifrəniz</label>
						<input class="form-control" placeholder="" type="password" value="olympus">
					</div>
					<button class="btn btn-primary btn-lg full-width">Şifrəni dəyiş!</button>
				</form>

			</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Restore Password -->


<!-- Window Popup Main Search -->

<!-- ... end Window Popup Main Search -->

<!-- JS Scripts -->
<script src="{% static 'local/app/js/jQuery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.appear.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.mousewheel.js' %}"></script>
<script src="{% static 'local/app/js/libs/perfect-scrollbar.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.matchHeight.js' %}"></script>
<script src="{% static 'local/app/js/libs/svgxuse.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/imagesloaded.pkgd.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/Headroom.js' %}"></script>
<script src="{% static 'local/app/js/libs/velocity.js' %}"></script>
<script src="{% static 'local/app/js/libs/ScrollMagic.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.waypoints.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/jquery.countTo.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/popper.min.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/material.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/bootstrap-select.js' %}"></script>
<script src="{% static 'local/app/js/libs/smooth-scroll.js' %}"></script>
<script src="{% static 'local/app/js/libs/selectize.js' %}"></script>
<script src="{% static 'local/app/js/libs/swiper.jquery.js' %}"></script>
<script src="{% static 'local/app/js/libs/moment.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/daterangepicker.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/fullcalendar.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/isotope.pkgd.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/ajax-pagination.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/Chart.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/chartjs-plugin-deferred.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/circle-progress.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/loader.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/run-chart.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/jquery.magnific-popup.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/jquery.gifplayer.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/mediaelement-and-player.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/mediaelement-playlist-plugin.min.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/ion.rangeSlider.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/leaflet.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/MarkerClusterGroup.js' %}"></script>#}

<script src="{% static 'local/app/js/main.js' %}"></script>
<script src="{% static 'local/app/js/libs-init/libs-init.js' %}"></script>
<script defer src="{% static 'local/app/fonts/fontawesome-all.js' %}"></script>

<script src="{% static 'local/app/Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

</body>
</html>