{% extends "main-base.html" %}
{% load static %}
{% block css_block %}
<style>
 #message-box-list li:first-child {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
 }
 #message-box-list li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
 }
 #message-box-list li:hover {
    background: #38a9ff2e;
 }
.ui-block-content {
    padding: 10px;
}
#message-box-search .form-group {
    position: relative;
    margin-bottom: 0;
}
#message-box-search .form-control {
    border: 1px solid #94969a;
}
@media (min-width: 1024px) {
    #ui-block-content{
        padding: 0 180px;
    }
}
.messae-deatil-general{
    border-radius: 36px;
    padding: 15px 25px !important;
    margin: 15px;
}
.messae-deatil-other{
    background: rgba(63, 66, 87, 0.15);
}
.messae-deatil-me{
    background: #0085ff;
}
.messae-deatil-me a , .messae-deatil-me .chat-message-item , .messae-deatil-me .notification-date {
    color: #fff;
}
.chat-field textarea {
    border: 1px solid #b7aeae;
}
</style>
{% endblock %}
{% block content_block %}


<div class="container-fluid">
	<div class="row">
		<div class="col col-xl-12 order-xl-12 col-lg-12 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
			<div class="ui-block">
				<div class="row">
					<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 padding-r-0">
                        <div class="ui-block">
                            <div class="ui-block-title">
                                <h6 class="title">Mesajlarınız</h6>
                                <a class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>
                            </div>
                            <div class="ui-block-content">
                                <form id="message-box-search">
                                    {% csrf_token %}
                                    <input type="hidden" name="page-num-message-box" id="page-num-message-box" value="1"/>
                                    {{ message_box_form.search_text }}
                                </form>
                            </div>
                        </div>
						<!-- Notification List Chat Messages -->
						<ul class="notification-list chat-message" id="message-box-list">
						</ul>

						<!-- ... end Notification List Chat Messages -->


					</div>

					<div class="col col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12 padding-l-0">


						<!-- Chat Field -->
                        {% if object %}

                <form id="main-post-search-form">{% csrf_token %}
                    <input type="hidden" id="post-page-num" name="post-page-num" value="1"/>
                    <input type="hidden" id="loaded-post-count" name="loaded-post-count" value="0"/>
                    <input type="hidden" id="date_time" name="date_time" value=""/>
                </form>
						<div class="chat-field">
							<div class="ui-block-title">
								<h6 class="title">{% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h6>
								<a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>
							</div>
							<div class="mCustomScrollbar" data-mcs-theme="dark" id="message-datil-list">

								<ul class="notification-list chat-message chat-message-field" id="post-grid-list">


								</ul>
							</div>

							<form id="main-post-form-data" method="post">
                                {% csrf_token %}
								<div class="form-group">
                                    {{ form.message }}
								</div>
								<div class="add-options-message">
									<a href="#" class="options-message">
										<svg class="olymp-computer-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-computer-icon"></use></svg>
									</a>
									<button type="submit" class="btn btn-primary btn-sm">Göndər</button>
								</div>

							</form>

						</div>
                        {% else %}
                        <div class="ui-block">
                            <div class="ui-block-content text-center" id="ui-block-content">
                                <img class="img-responsive" src="{% static 'local/app/img/message-note.png' %}" alt="error_500">
                                <div class="crumina-module crumina-heading">
                                </div>
                            </div>
                        </div>
                        {% endif %}
						<!-- ... end Chat Field -->

					</div>
				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}

{% block js_block %}

<script>
    $('#message-datil-list').scroll(function () {

        //- 10 = desired pixel distance from the bottom of the page while scrolling)
        if ($('#message-datil-list').scrollTop() == 100) {
        }
    });
</script>


        <script type="text/javascript">
        $("#message-box-search").submit(function(e){
            {#mb_searchForm();#}
            return false;
        });
        $( "#message-box-search :input" ).keyup(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                mb_searchForm();
            }
        });
    </script>


    <script>
        var mb_search_form = $('#message-box-search');
        var mb_main_data_content_data = $('#message-box-list');
        var mb_is_active = true;
        var mb_has_data = true;
            $('#message-box-list').on('scroll', function() {
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && mb_is_active && mb_has_data) {
                    mb_infinityForm();
                    // alert('End of DIV is reached!');
                }
            });

        function mb_infinityForm() {
            mb_is_active = false;
              $.post("{% url 'chat:message-box-list' %}",mb_search_form.serialize())
                  .done(function (result) {
                      $('#message-box-list').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num-message-box').val(parseInt($('#page-num-message-box').val()) + 1);
                      }else{
                          mb_has_data = false;
                      }
                      mb_is_active = true;

                      console.log(result)
                }).fail(function () {
                    mb_is_active = true;
              });
         }
    </script>


    <script>
        var mb_search_form = $('#message-box-search');


        $( document ).ready(function() {
            setTimeout(function(){
                mb_searchForm();
            }, 500);
            console.log( "ready!" );
        });

        function mb_searchForm() {
            $('#page-num-message-box').val(1);
            mb_main_data_content_data.html('<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>');
          $.post("{% url 'chat:message-box-list' %}",mb_search_form.serialize())
              .done(function (result) {
                  mb_main_data_content_data.html(result['main_result']);
                  $('#page-num-message-box').val(2);

            }).fail(function () {
                  mb_main_data_content_data.html('');
          });
        }


    </script>

    {% if object %}
        <script>
            post_share_url = '';
            var data_v_change = '';
            {% if user != object.first %}
                data_v_change = '{% url 'chat:get-comments-renew-list' object.second.uuid_id %}';
                comment_data_get_url = '{% url 'chat:get-comments-list' object.first.uuid_id %}';
            {% else %}
                data_v_change = '{% url 'chat:get-comments-renew-list' object.second.uuid_id %}';
                comment_data_get_url = '{% url 'chat:get-comments-list' object.second.uuid_id %}';
            {% endif %}

        </script>

        {% include 'chat/include/js.html' %}
    {% endif %}
{% endblock %}