{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }
    </style>
{% endblock %}
{% block content_block %}


<div class="main-header">
	<div class="content-bg-wrap bg-birthday"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>
                        <a href="{% url 'userprofile:section-item' article_obj.section_part.section.id %}">
                            {{ article_obj.section_part.section.title }}
                        </a> - {{ article_obj.section_part.title }}
                    </h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ... end Main Header Account -->


<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="main-data-content-data">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h3 class="text-center">
                        {{ article_obj.title }}
                    </h3>
                </div>
                <div class="ui-block-content">
                    {% autoescape off %}
                        {{ article_obj.content }}
                    {% endautoescape %}
                </div>
            </div>
		</div>
	</div>
</div>
<!-- ... end Main Content Widgets -->


{% endblock %}
{% block js_block %}


{% endblock %}