{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }
    </style>
{% endblock %}
{% block content_block %}


<div class="main-header">
	<div class="content-bg-wrap bg-birthday"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>
                        {% trans 'Bölmələr' %}
                    </h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ... end Main Header Account -->


<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">{% trans 'Bölmələr' %}</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">

        {% for all_section_item in all_sections %}

            <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="ui-block" data-mh="friend-groups-item">
                        <div class="friend-item friend-groups">

                            <div class="friend-item-content">
                                <div class="friend-avatar">
                                    <div class="author-thumb">
                                        <img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="Olympus">
                                    </div>
                                    <div class="author-content">
                                        <a href="{% url 'userprofile:section-item' all_section_item.id %}" class="h5 author-name">{{ all_section_item.title }}</a>
                                    </div>
                                </div>

                                <div class="control-block-button">
                                    <a href="{% url 'userprofile:section-item' all_section_item.id %}" class="  btn btn-control bg-blue" >
                                        <svg class="olymp-happy-faces-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-albums-icon"></use></svg>
                                    </a>
                                </div>
                            </div>
                        </div>


                    <!-- ... end Friend Item -->
                </div>
            </div>
        {% endfor %}

	</div>
</div>


{% endblock %}