{% extends 'main-base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block css_block %}
    <style>
        .header-spacer {
            display: block;
            height: 70px;
        }
        #main-data-content-div { overflow: auto; height: 800px; }
    </style>
{% endblock %}
{% block content_block %}


<div class="main-header">
	<div class="content-bg-wrap bg-birthday"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>
                        {{ section_obj.title }}
                    </h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ... end Main Header Account -->


<!-- Main Content Widgets -->
<form id="main-search-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="page-num" id="page-num" value="1"/>
    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        {{ search_form.search_text }}
                    </div>
                </div>
            </div>

            {% for section_part_item in section_parts %}

                <div class="col col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="ui-block">
                        <div class="available-widget">

                            <div class="checkbox">
                                <label>
                                    <input name="section_parts" type="checkbox" value="{{ section_part_item.id }}">
                                    {{ section_part_item.title }}
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</form>

<div class="container">
	<div class="row" id="main-data-content-div">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="main-data-content-data">

		</div>
	</div>
</div>
<!-- ... end Main Content Widgets -->


{% endblock %}
{% block js_block %}

    <script type="text/javascript">
        $("#main-search-form").submit(function(e){
            {#searchForm();#}
            return false;
        });
        $( "#main-search-form :input" ).keyup(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                searchForm();
            }
        });
    </script>


    <script>
        var search_form = $('#customer-search-form');
        var main_data_content_data = $('#main-data-content-data');
        var is_active = true;
        var has_data = true;
            $('#main-data-content-div').on('scroll', function() {
                if ($(this).scrollTop() +
                    $(this).height()>=
                    ($(this).height() + 250) && is_active && has_data) {
                    infinityForm();
                    // alert('End of DIV is reached!');
                }
            });

        function infinityForm() {
            is_active = false;
              $.post('',search_form.serialize())
                  .done(function (result) {
                      $('#main-data-content-div').append(result['main_result']);
                      if(result['main_result'] != ''){
                          $('#page-num').val(parseInt($('#page-num').val()) + 1);
                      }else{
                          has_data = false;
                      }
                      is_active = true;

                      console.log(result)
                }).fail(function () {
                    is_active = true;
              });
         }
    </script>

    
    <script>
        var search_form = $('#main-search-form');


        $( document ).ready(function() {
            setTimeout(function(){
                searchForm();
            }, 500);
            console.log( "ready!" );
        });

        function searchForm() {
            $('#page-num').val(1);
            main_data_content_data.html('<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg></a>');
          $.post('',search_form.serialize())
              .done(function (result) {
                  main_data_content_data.html(result['main_result']);
                  $('#page-num').val(2);

            }).fail(function () {
                  main_data_content_data.html('');
                  total_result_table.html('');
          });
        }


    </script>
{% endblock %}