{% load static from staticfiles %}
{% load  i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

	<title>{% block title_block %}

	{% endblock %} - {% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
    <script src="{% static 'local/app/js/libs/webfontloader.min.js' %}"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

{#    <script src="{% static 'channels/js/websocketbridge.js' %}" type="text/javascript"></script>#}
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap-reboot.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/Bootstrap/dist/css/bootstrap-grid.css' %}">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'local/app/css/fonts.min.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
<style>
    body{
        color: #333;
    }
    .notification-list .notification-icon {
    color: #333;
    fill: #333;
    float: right;
    margin-top: 10px;
}
</style>
{% block css_block %}

{% endblock %}

</head>
<body class="page-has-left-panels page-has-right-panels">



<!-- Preloader -->

<div id="hellopreloader">
	<div class="preloader">
		<svg width="45" height="45" stroke="#fff">
			<g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="6" stroke="none">
					<animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22"/>
					<animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0"/>
					<animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0"/>
				</circle>
				<circle cx="22" cy="22" r="8">
					<animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6"/>
				</circle>
			</g>
		</svg>

		<div class="text">{% trans 'Yüklənir' %} ...</div>
	</div>
</div>

<!-- ... end Preloader -->


<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar">
	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

		<a href="{% url 'userprofile:feed' %}" class="logo">
			<div class="img-wrap">
				<img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}">
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-menu-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Menyu' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:feed' %}">
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Feed' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-newsfeed-icon"></use></svg>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:friend-list' 'followers' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Dostlar' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-faces-icon"></use></svg>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:all-sections' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Bölmələr' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-albums-icon"></use></svg>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:projects-list' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Proyektlər' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-share-post-icon"></use></svg>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:users-list' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'İstifadəçilər' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-sticker-icon"></use></svg>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
		<a href="{% url 'userprofile:profile-v' base_profile.uuid_id %}" class="logo">
			<div class="img-wrap">
				<img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}">
			</div>
			<div class="title-block">
				<h6 class="logo-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</h6>
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="left-menu">
				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Menyu' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:feed' %}" >
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"   data-original-title="NEWSFEED"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-newsfeed-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Feed' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:friend-list' 'followers' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FRIEND GROUPS"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-faces-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Dostlar' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:all-sections' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Bölmələr' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-albums-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Bölmələr' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:projects-list' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'Proyektlər' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-share-post-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Proyektlər' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:users-list' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="{% trans 'İstifadəçilər' %}"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-sticker-icon"></use></svg>
						<span class="left-menu-title">{% trans 'İstifadəçilər' %}</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

	<div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
		<a href="#" class="logo js-sidebar-open">
			<img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}">
		</a>

	</div>

	<div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
		<a href="#" class="logo">
			<div class="img-wrap">
				<img src="{% if base_mainSystemInfo and base_mainSystemInfo.logo_white %}{{ base_mainSystemInfo.logo_white.url }}{% else %}{% static 'local/app/img/logo.png' %}{% endif %}" alt="{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}">
			</div>
			<div class="title-block">
				<h6 class="logo-title">{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</h6>
			</div>
		</a>

		<div class="mCustomScrollbar" data-mcs-theme="dark">

			<div class="control-block">
				<div class="author-page author vcard inline-items">
					<div class="author-thumb">
						<img alt="author" src="{% if base_profile.profile_picture %}{{ base_profile.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" style="height: 36px;" class="avatar">
						<span class="icon-status online"></span>
					</div>
					<a href="{% url 'userprofile:profile-v' base_profile.uuid_id %}" class="author-name fn">
						<div class="author-title">
							{{ base_profile.first_name }} {{ base_profile.last_name }} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-dropdown-arrow-icon"></use></svg>
						</div>
					</a>
				</div>
			</div>

{#			<div class="ui-block-title ui-block-title-small">#}
{#				<h6 class="title">{% trans 'Main Sections' %}</h6>#}
{#			</div>#}

			<ul class="left-menu">

				<li>
					<a href="#" class="js-sidebar-open">
						<svg class="olymp-close-icon left-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Menyu' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:feed' %}" >
						<svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right"   data-original-title="NEWSFEED"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-newsfeed-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Feed' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:friend-list' 'followers' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FRIEND GROUPS"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-happy-faces-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Dostlar' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:all-sections' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FRIEND GROUPS"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-albums-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Bölmələr' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:projects-list' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FRIEND GROUPS"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-share-post-icon"></use></svg>
						<span class="left-menu-title">{% trans 'Proyektlər' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'userprofile:users-list' %}">
						<svg class="olymp-happy-faces-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FRIEND GROUPS"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-albums-icon"></use></svg>
						<span class="left-menu-title">{% trans 'İstifadəçilər' %}</span>
					</a>
				</li>
			</ul>

			<ul class="account-settings">
				<li>
					<a href="{% url 'userprofile:settings' 'profile' %}">

						<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>

						<span>{% trans 'Tənzimləmələr' %}</span>
					</a>
				</li>
				<li>
					<a href="{% url 'base-user:logout' %}">
						<svg class="olymp-logout-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-logout-icon"></use></svg>

						<span>{% trans 'Çıxış' %}</span>
					</a>
				</li>
			</ul>

			<div class="ui-block-title ui-block-title-small">
				<h6 class="title">{% if base_mainSystemInfo and base_mainSystemInfo.site_name %}{{ base_mainSystemInfo.site_name }}{% else %}site_name{% endif %}</h6>
			</div>

			<ul class="about-olympus">
                {% for base_static_page_item in base_static_pages %}
                    <li>
                        <a href="{% url 'userprofile:static-page-detail' base_static_page_item.key_page %}">
                            <span>{{ base_static_page_item.title }}</span>
                        </a>
                    </li>
                {% endfor %}
			</ul>

		</div>
	</div>
</div>

<!-- ... end Fixed Sidebar Left -->


<!-- Fixed Sidebar Right -->
{##}
{#<div class="fixed-sidebar right">#}
{#	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right">#}
{##}
{#		<div class="mCustomScrollbar" data-mcs-theme="dark">#}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar67-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar62-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar68-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar69-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar70-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status disconected"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar64-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar71-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar72-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar63-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status status-invisible"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar72-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar71-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{#		</div>#}
{##}
{#		<div class="search-friend inline-items">#}
{#			<a href="#" class="js-sidebar-open">#}
{#				<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>#}
{#			</a>#}
{#		</div>#}
{##}
{#		<a href="#" class="olympus-chat inline-items js-chat-open">#}
{#			<svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>#}
{#		</a>#}
{##}
{#	</div>#}
{##}
{#	<div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">#}
{##}
{#		<div class="mCustomScrollbar" data-mcs-theme="dark">#}
{##}
{#			<div class="ui-block-title ui-block-title-small">#}
{#				<a href="#" class="title">Close Dostlar</a>#}
{#				<a href="#">Settings</a>#}
{#			</div>#}
{##}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar67-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Carol Summers</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar62-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Mathilda Brinker</a>#}
{#						<span class="status">AT WORK!</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{##}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar68-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Carol Summers</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{##}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar69-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Michael Maximoff</a>#}
{#						<span class="status">AWAY</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{##}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar70-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status disconected"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Rachel Howlett</a>#}
{#						<span class="status">OFFLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{#			</ul>#}
{##}
{##}
{#			<div class="ui-block-title ui-block-title-small">#}
{#				<a href="#" class="title">Kimya</a>#}
{#				<a href="#">Settings</a>#}
{#			</div>#}
{##}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar64-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Sarah Hetfield</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{##}
{##}
{#			<div class="ui-block-title ui-block-title-small">#}
{#				<a href="#" class="title">UNCATEGORIZED</a>#}
{#				<a href="#">Settings</a>#}
{#			</div>#}
{##}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar71-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Bruce Peterson</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar72-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Chris Greyson</a>#}
{#						<span class="status">AWAY</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar63-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status status-invisible"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Nicholas Grisom</a>#}
{#						<span class="status">INVISIBLE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar72-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Chris Greyson</a>#}
{#						<span class="status">AWAY</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar71-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Bruce Peterson</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{##}
{#		</div>#}
{##}
{#		<div class="search-friend inline-items">#}
{#			<form class="form-group" >#}
{#				<input class="form-control" placeholder="Search Dostlar..." value="" type="text">#}
{#			</form>#}
{##}
{#			<a href="29-YourAccount-AccountSettings.html" class="settings">#}
{#				<svg class="olymp-settings-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-settings-icon"></use></svg>#}
{#			</a>#}
{##}
{#			<a href="#" class="js-sidebar-open">#}
{#				<svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>#}
{#			</a>#}
{#		</div>#}
{##}
{#		<a href="#" class="olympus-chat inline-items js-chat-open">#}
{##}
{#			<h6 class="olympus-chat-title">OLYMPUS CHAT</h6>#}
{#			<svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>#}
{#		</a>#}
{##}
{#	</div>#}
{#</div>#}
{##}
{#<!-- ... end Fixed Sidebar Right -->#}
{##}
{##}
{#<!-- Fixed Sidebar Right-Responsive -->#}
{##}
{#<div class="fixed-sidebar right fixed-sidebar-responsive" id="sidebar-right-responsive">#}
{##}
{#	<div class="fixed-sidebar-right sidebar--small">#}
{#		<a href="#" class="js-sidebar-open">#}
{#			<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>#}
{#			<svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>#}
{#		</a>#}
{#	</div>#}
{##}
{#	<div class="fixed-sidebar-right sidebar--large">#}
{#		<div class="mCustomScrollbar" data-mcs-theme="dark">#}
{##}
{#			<div class="ui-block-title ui-block-title-small">#}
{#				<a href="#" class="title">Close Dostlar</a>#}
{#				<a href="#">Settings</a>#}
{#			</div>#}
{##}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar67-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Carol Summers</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar62-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Mathilda Brinker</a>#}
{#						<span class="status">AT WORK!</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{##}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar68-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Carol Summers</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{##}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar69-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Michael Maximoff</a>#}
{#						<span class="status">AWAY</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{##}
{#				<li class="inline-items js-chat-open">#}
{##}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar70-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status disconected"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Rachel Howlett</a>#}
{#						<span class="status">OFFLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{#			</ul>#}
{##}
{##}
{#			<div class="ui-block-title ui-block-title-small">#}
{#				<a href="#" class="title">MY FAMILY</a>#}
{#				<a href="#">Settings</a>#}
{#			</div>#}
{##}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar64-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Sarah Hetfield</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{##}
{##}
{#			<div class="ui-block-title ui-block-title-small">#}
{#				<a href="#" class="title">UNCATEGORIZED</a>#}
{#				<a href="#">Settings</a>#}
{#			</div>#}
{##}
{#			<ul class="chat-users">#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar71-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Bruce Peterson</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{##}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar72-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Chris Greyson</a>#}
{#						<span class="status">AWAY</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{##}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar63-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status status-invisible"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Nicholas Grisom</a>#}
{#						<span class="status">INVISIBLE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar72-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status away"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Chris Greyson</a>#}
{#						<span class="status">AWAY</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#				<li class="inline-items js-chat-open">#}
{##}
{#					<div class="author-thumb">#}
{#						<img alt="author" src="{% static 'local/app/img/avatar71-sm.jpg' %}" class="avatar">#}
{#						<span class="icon-status online"></span>#}
{#					</div>#}
{##}
{#					<div class="author-status">#}
{#						<a href="#" class="h6 author-name">Bruce Peterson</a>#}
{#						<span class="status">ONLINE</span>#}
{#					</div>#}
{##}
{#					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{##}
{#						<ul class="more-icons">#}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-add-to-conversation-icon"></use></svg>#}
{#							</li>#}
{##}
{#							<li>#}
{#								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-block-from-chat-icon"></use></svg>#}
{#							</li>#}
{#						</ul>#}
{##}
{#					</div>#}
{#				</li>#}
{#			</ul>#}
{##}
{#		</div>#}
{##}
{#		<div class="search-friend inline-items">#}
{#			<form class="form-group" >#}
{#				<input class="form-control" placeholder="Search Dostlar..." value="" type="text">#}
{#			</form>#}
{##}
{#			<a href="29-YourAccount-AccountSettings.html" class="settings">#}
{#				<svg class="olymp-settings-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-settings-icon"></use></svg>#}
{#			</a>#}
{##}
{#			<a href="#" class="js-sidebar-open">#}
{#				<svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>#}
{#			</a>#}
{#		</div>#}
{##}
{#		<a href="#" class="olympus-chat inline-items js-chat-open">#}
{##}
{#			<h6 class="olympus-chat-title">OLYMPUS CHAT</h6>#}
{#			<svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>#}
{#		</a>#}
{#	</div>#}
{##}
{#</div>#}

<!-- ... end Fixed Sidebar Right-Responsive -->


<!-- Header-BP -->

<header class="header" id="site-header">

	<div class="page-title">
		<h6>
            <a href="{% url 'userprofile:projects-create' %}" target="_blank" style="color:white;">
                {% trans 'Müraciət et' %}
            </a>
        </h6>
	</div>

	<div class="header-content-wrapper">
		<form class="search-bar w-search notification-list friend-requests" method="post" action="{%  url 'userprofile:users-list' %}">
            {% csrf_token %}
			<div class="form-group with-button">
				<input class="form-control js-user-search" name="search_text" placeholder="{% trans 'İstifadəçi axtar' %}..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>


		<div class="control-block">

			<div class="control-icon more has-items">
				<svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>
				<div class="label-avatar bg-purple" id="messages-count-1">0</div>

				<div class="more-dropdown more-with-triangle triangle-top-center">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Mesajlar</h6>
					</div>

					<div class="mCustomScrollbar" data-mcs-theme="dark">
						<ul class="notification-list chat-message" id="messages-list-1">
						</ul>
					</div>

					<a href="{% url 'chat:inbox' %}" class="view-all bg-purple">Bütün mesajlara bax</a>
				</div>
			</div>

			<div class="control-icon more has-items">
				<svg class="olymp-thunder-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-thunder-icon"></use></svg>

				<div class="label-avatar bg-primary" id="notifications-count-1">0</div>

				<div class="more-dropdown more-with-triangle triangle-top-center">
					<div class="ui-block-title ui-block-title-small">
						<h6 class="title">Bildirişlər</h6>
					</div>

					<div class="mCustomScrollbar" data-mcs-theme="dark">
						<ul class="notification-list" id="notifications-list-0">

						</ul>
					</div>

					<a href="{% url 'userprofile:notifications-list' %}" class="view-all bg-primary">Bütün bildirişlər</a>
				</div>
			</div>

			<div class="control-icon more has-items">
				<svg class="olymp-thunder-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-info-icon"></use></svg>

                <div class="more-dropdown more-with-triangle">
                    <div class="mCustomScrollbar" data-mcs-theme="dark">
                        <ul class="account-settings">
                            {% for base_static_page_item in base_static_pages %}
                                <li>
                                    <a href="{% url 'userprofile:static-page-detail' base_static_page_item.key_page %}">
                                        <svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#{{ base_static_page_item.icon }}"></use></svg>
                                        <span>{{ base_static_page_item.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
			</div>

			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					<img alt="author" src="{% if base_profile.profile_picture %}{{ base_profile.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" style="width: 36px" class="avatar">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<ul class="account-settings">
								<li>
									<a href="{% url 'userprofile:profile-v' base_profile.uuid_id %}">

										<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>

										<span>{% trans 'Profilim' %}</span>
									</a>
								</li>
								<li>
									<a href="{% url 'userprofile:settings' 'profile' %}">

										<svg class="olymp-menu-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-menu-icon"></use></svg>

										<span>{% trans 'Tənzimləmələr' %}</span>
									</a>
								</li>
								<li>
									<a href="{% url 'base-user:logout' %}">
										<svg class="olymp-logout-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-logout-icon"></use></svg>

										<span>{% trans 'Çıxış' %}</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<a href="{% url 'userprofile:profile-v' base_profile.uuid_id %}" class="author-name fn">
					<div class="author-title">
						{{ base_profile.first_name }} {{ base_profile.last_name }} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-dropdown-arrow-icon"></use></svg>
					</div>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->


<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

	<div class="header-content-wrapper">
		<ul class="nav nav-tabs mobile-app-tabs" role="tablist">

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#chat" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-chat---messages-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-chat---messages-icon"></use></svg>
						<div class="label-avatar bg-purple" id="messages-count-2">0</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#notification" role="tab">
					<div class="control-icon has-items">
						<svg class="olymp-thunder-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-thunder-icon"></use></svg>
						<div class="label-avatar bg-primary" id="notifications-count-2">0</div>
					</div>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#search" role="tab">
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-magnifying-glass-icon"></use></svg>
					<svg class="olymp-close-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-close-icon"></use></svg>
				</a>
			</li>
		</ul>
	</div>

	<!-- Tab panes -->
	<div class="tab-content tab-content-responsive">

		<div class="tab-pane " id="chat" role="tabpanel">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Mesajlar</h6>
				</div>

				<ul class="notification-list chat-message" id="messages-list-2">
				</ul>

				<a href="{% url 'chat:inbox' %}" class="view-all bg-purple">Bütün mesajlara bax</a>
			</div>

		</div>

		<div class="tab-pane " id="notification" role="tabpanel">

			<div class="mCustomScrollbar" data-mcs-theme="dark">
				<div class="ui-block-title ui-block-title-small">
					<h6 class="title">Bildirişlər</h6>
				</div>

				<ul class="notification-list" id="notifications-list-1">
				</ul>

				<a href="{% url 'userprofile:notifications-list' %}" class="view-all bg-primary">Bütün bildirişlər</a>
			</div>

		</div>




		<div class="tab-pane " id="search" role="tabpanel">


				<form class="search-bar w-search notification-list friend-requests" method="post" action="{%  url 'userprofile:users-list' %}">
                    {% csrf_token %}
					<div class="form-group with-button">
						<input class="form-control js-user-search" name="search_text" placeholder="{% trans 'İstifadəçi axtar' %}..." type="text">
					</div>
				</form>


		</div>

	</div>
	<!-- ... end  Tab panes -->

</header>

<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>



<!-- Top Header-Profile -->
{% block content_block %}

{% endblock %}

<a class="back-to-top" href="#">
	<img src="{% static 'local/app/svg-icons/back-to-top.svg' %}" alt="arrow" class="back-icon">
</a>




<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->


<!-- JS Scripts -->
<script src="{% static 'local/app/js/jQuery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.appear.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.mousewheel.js' %}"></script>
<script src="{% static 'local/app/js/libs/perfect-scrollbar.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.matchHeight.js' %}"></script>
<script src="{% static 'local/app/js/libs/svgxuse.js' %}"></script>
<script src="{% static 'local/app/js/libs/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'local/app/js/libs/Headroom.js' %}"></script>
<script src="{% static 'local/app/js/libs/velocity.js' %}"></script>
<script src="{% static 'local/app/js/libs/ScrollMagic.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.waypoints.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.countTo.js' %}"></script>
<script src="{% static 'local/app/js/libs/popper.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/material.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/bootstrap-select.js' %}"></script>
<script src="{% static 'local/app/js/libs/smooth-scroll.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/selectize.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/swiper.jquery.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/moment.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/daterangepicker.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/fullcalendar.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/isotope.pkgd.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/ajax-pagination.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/Chart.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/chartjs-plugin-deferred.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/circle-progress.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/loader.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/run-chart.js' %}"></script>#}
<script src="{% static 'local/app/js/libs/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'local/app/js/libs/jquery.gifplayer.js' %}"></script>
<script src="{% static 'local/app/js/libs/mediaelement-and-player.js' %}"></script>
<script src="{% static 'local/app/js/libs/mediaelement-playlist-plugin.min.js' %}"></script>
<script src="{% static 'local/app/js/libs/sticky-sidebar.js' %}"></script>
{#<script src="{% static 'local/app/js/libs/ion.rangeSlider.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/leaflet.js' %}"></script>#}
{#<script src="{% static 'local/app/js/libs/MarkerClusterGroup.js' %}"></script>#}

<script src="{% static 'local/app/js/main.js' %}"></script>
<script src="{% static 'local/app/js/libs-init/libs-init.js' %}"></script>
<script defer src="{% static 'local/app/fonts/fontawesome-all.js' %}"></script>

<script src="{% static 'local/app/Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

    <script>
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');


        var csrf_token = getCookie('csrftoken');
    $( document ).ready(function() {
        setTimeout(function(){
            getMessageNotification('{% url 'userprofile:message-notification-show' 'messages' %}', 'messages');
            getMessageNotification('{% url 'userprofile:message-notification-show' 'notifications' %}', 'notifications');
        }, 500);
        console.log( "ready!" );
    });
setTimeout(function(){ getMessageNotification('{% url 'userprofile:message-notification-show' 'messages' %}', 'messages'); }, 60000);
setTimeout(function(){ getMessageNotification('{% url 'userprofile:message-notification-show' 'notifications' %}', 'notifications'); }, 90000);
function getMessageNotification($url,$type) {
    $.post($url,{'csrfmiddlewaretoken':csrf_token,'date_time':$('#date_time').val()})
        .done(function (result) {
            if ($type == 'notifications'){
                $('#notifications-list-1').html(result['result_html']);
                $('#notifications-list-0').html(result['result_html']);
                $('#notifications-count-1').html(result['count']);
                $('#notifications-count-2').html(result['count']);
            }else if ($type == 'messages'){
                $('#messages-list-1').html(result['result_html']);
                $('#messages-list-2').html(result['result_html']);
                $('#messages-count-1').html(result['count']);
                $('#messages-count-2').html(result['count']);
            }
        });
}
    {#document.addEventListener('DOMContentLoaded', function() {#}
    {#  const webSocketBridge = new channels.WebSocketBridge();#}
    {#  const nl = document.querySelector("#notifylist");#}
    {##}
    {#  webSocketBridge.connect('/notifications/');#}
    {#  webSocketBridge.listen(function(action, stream) {#}
    {#    console.log("RESPONSE:", action);#}
    {#    if(action.event == "New User") {#}
    {#      var el = document.createElement("li");#}
    {#      el.innerHTML = 'New user <b>${action.username}</b> has joined!';#}
    {#      nl.appendChild(el);#}
    {#    }#}
    {#  })#}
    {#  document.ws = webSocketBridge; /* for debugging */#}
    {# }) #}
    </script>

{% block js_block %}
<script>
{#$(document).ready(function(){var e=$(".js-user-search");e.length&&e.selectize({delimiter:",",persist:!1,maxItems:2,valueField:"name",labelField:"name",searchField:["name"],options:[{image:"img/avatar30-sm.jpg",name:"Marie Claire Stevens",message:"12 Dostlar in Common",icon:"olymp-happy-face-icon"},{image:"img/avatar54-sm.jpg",name:"Marie Davidson",message:"4 Dostlar in Common",icon:"olymp-happy-face-icon"},{image:"img/avatar49-sm.jpg",name:"Marina Polson",message:"Mutual Friend: Mathilda Brinker",icon:"olymp-happy-face-icon"},{image:"img/avatar36-sm.jpg",name:"Ann Marie Gibson",message:"New York, NY",icon:"olymp-happy-face-icon"},{image:"img/avatar22-sm.jpg",name:"Dave Marinara",message:"8 Dostlar in Common",icon:"olymp-happy-face-icon"},{image:"img/avatar41-sm.jpg",name:"The Marina Bar",message:"Restaurant / Bar",icon:"olymp-star-icon"}],render:{option:function(e,i){return'<div class="inline-items">'+(e.image?'<div class="author-thumb"><img src="'+i(e.image)+'" alt="avatar"></div>':"")+'<div class="notification-event">'+(e.name?'<span class="h6 notification-friend"></a>'+i(e.name)+"</span>":"")+(e.message?'<span class="chat-message-item">'+i(e.message)+"</span>":"")+"</div>"+(e.icon?'<span class="notification-icon"><svg class="'+i(e.icon)+'"><use xlink:href="icons/icons.svg#'+i(e.icon)+'"></use></svg></span>':"")+"</div>"},item:function(e,i){return'<div><span class="label">'+i(e.name)+"</span></div>"}}})})#}
</script>
{% endblock %}
</body>
</html>