{% load i18n %}
{% load static %}
<tr>
    <td class="forum">
        <div class="forum-item">
            <img src="{{ data_item.image.url }}" style="width: 50px;" alt="forum">
            <div class="content">
                <a href="{% url 'userprofile:projects-view' data_item.id %}" class="h6 title">{{ data_item.title }}</a>
                <p class="text">{{ data_item.short_title }}</p>
            </div>
        </div>
    </td>
    <td class="freshness">
        <div class="author-freshness">
            <div class="author-thumb">
                <img src="{% if data_item.author.profile_picture %}{{ data_item.author.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" alt="author">
            </div>
            <a href="#" class="h6 title">{{ data_item.author.get_full_name }}</a>
            <time class="entry-date updated" datetime="{{ data_item.created_date|date:'Y-m-dTH:i' }}">{{ data_item.created_date }}</time>
        </div>
    </td>
</tr>