{% load i18n %}
{% load static %}
<div class="ui-block all-post-item-{{ item.id }}">

    <article class="hentry post has-post-thumbnail">

        <div class="post__author author vcard inline-items">
            <img src="{% if base_profile.profile_picture %}{{ base_profile.profile_picture.url }}{% else %}{% static 'local/app/img/default-user.jpg' %}{% endif %}" style="height: 40px;" alt="author">

            <div class="author-date">
                <a class="h6 post__author-name fn" href="{% url 'userprofile:profile-v' item.user.uuid_id %}">{{ item.user.get_full_name }}</a>
                <div class="post__date">
                    <time class="published" datetime="{{ item.created_date|date:'Y-m-dTH:i' }}">
                        {{ item.created_date }}
                    </time>
                </div>
            </div>

{#            <div class="more">#}
{#                {% if me %}#}
{#                    <a href="javascript:void(0)" onclick="removePost('{% url 'userprofile:post-remove' item.id %}','{{ item.id }}')">#}
{#                        <svg class="olymp-little-delete" style="height: 11px;width: 11px;"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>#}
{#                    </a>#}
{#                {% endif %}#}
{#                <svg class="olymp-three-dots-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-three-dots-icon"></use></svg>#}
{#                <ul class="more-dropdown">#}
{#                    <li>#}
{#                        <a href="#">Edit Post</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="javascript:void(0)" onclick="removePost('{% url 'userprofile:post-remove' item.id %}','{{ item.id }}')">Sil</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Turn Off Notifications</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#">Select as Featured</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}

        </div>

        <p class="post-item-content">
            {{ item.content }}
        </p>

{#        <div class="post-thumb">#}
{#            <img src="{% static 'local/app/img/post__thumb1.jpg' %}" alt="photo">#}
{#        </div>#}

        <div class="post-additional-info inline-items">

            <a href="javascript:void(0)" class="post-add-icon inline-items liked-icon-{{ item.id }} {% if post_liked %} did-it-icon {% endif %}" onclick="postSaveLike('{% url 'userprofile:like-save-post' item.id 'liked' %}','{{ item.id }}','liked')">
                <svg class="olymp-heart-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-heart-icon"></use></svg>
                <span id="liked-count-{{ item.id }}">{{ item.liked_count }}</span>
            </a>

{#            <div class="names-people-likes">#}
{#                <a href="#">Jimmy</a>, <a href="#">Andrea</a> and#}
{#                <br>47 more liked this#}
{#            </div>#}


            <div class="comments-shared">
                <a href="javascript:void(0)" class="post-add-icon inline-items">
                    <svg class="olymp-speech-balloon-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-speech-balloon-icon"></use></svg>
                    <span id="saved-count-{{ item.id }}">{{ item.saved_count }}</span>
                </a>
            </div>


        </div>

        <div class="control-block-button post-control-button">

            <a href="javascript:void(0)" class="btn btn-control liked-button-{{ item.id }} {% if post_liked %} did-it {% endif %}" onclick="postSaveLike('{% url 'userprofile:like-save-post' item.id 'liked' %}','{{ item.id }}','liked')">
                <svg class="olymp-like-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-like-post-icon"></use></svg>
            </a>

            <a href="javascript:void(0)" class="btn btn-control saved-button" onclick="">
                <svg class="olymp-comments-post-icon"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-comments-post-icon"></use></svg>
            </a>
            {% if me %}
                <a href="javascript:void(0)" class="btn btn-control saved-button" onclick="removePost('{% url 'userprofile:post-remove' item.id %}','{{ item.id }}')">
                    <svg class="olymp-little-delete"><use xlink:href="{% static 'local/app/svg-icons/sprites/icons.svg' %}#olymp-little-delete"></use></svg>
                </a>
            {% endif %}

        </div>

    </article>
</div>